# File with settings
local-settings.php

# Some Mac OS system files
.DS_Store

# VS Code Private Settings
.vscode/sftp.json

# PHPUnit cache
.phpunit.result.cache

# Packeges installed via Composer
vendor/*
vendor/

# Code coverage file
build/logs/clover.xml