# File with settings
local-settings.php

# Some Mac OS system files
.DS_Store

# Local php-cs-fixer files
php-cs-fixer.phar
php-cs-fixer-v2.phar
.php_cs.cache

# VS Code Settings
.vscode/

# PHPUnit cache
.phpunit.result.cache