{
  "name": "octo-site",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "docs/scss/global.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/global.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "docs/scss",
      "docs"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "docs/index.kit",
      "imports": [
        "docs/templates/_demo/buttons.html"
      ]
    },
    {
      "path": "docs/scss/_variables.scss",
      "imports": [
        "docs/scss/variables/_breakpoint.scss",
        "docs/scss/variables/_color.scss",
        "docs/scss/variables/_spacing.scss",
        "docs/scss/variables/_font_size.scss"
      ]
    },
    {
      "path": "docs/scss/global.scss",
      "imports": [
        "docs/scss/_variables.scss",
        "docs/scss/components/_alert.scss",
        "docs/scss/components/_avatar.scss",
        "docs/scss/components/_badge.scss",
        "docs/scss/components/_border.scss",
        "docs/scss/components/_button.scss",
        "docs/scss/components/_box.scss",
        "docs/scss/components/_card.scss",
        "docs/scss/components/_color.scss",
        "docs/scss/components/_dropdowns.scss",
        "docs/scss/components/_flex.scss",
        "docs/scss/components/_form.scss",
        "docs/scss/components/_heading.scss",
        "docs/scss/components/_image.scss",
        "docs/scss/components/_jumbotron.scss",
        "docs/scss/components/_list-group.scss",
        "docs/scss/components/_modal.scss",
        "docs/scss/components/_nav-tabs.scss",
        "docs/scss/components/_navbar.scss",
        "docs/scss/components/_pseudo_table.scss",
        "docs/scss/components/_simplemde.scss",
        "docs/scss/components/_size.scss",
        "docs/scss/components/_spacing.scss",
        "docs/scss/components/_status.scss",
        "docs/scss/components/_table.scss",
        "docs/scss/components/_table-box.scss",
        "docs/scss/components/_title.scss",
        "docs/scss/components/_typography.scss",
        "docs/scss/variables/_breakpoint.scss",
        "docs/scss/variables/_color.scss",
        "docs/scss/variables/_spacing.scss",
        "docs/scss/variables/_font_size.scss",
        "docs/scss/components/_button/_main.scss",
        "docs/scss/components/_button/_filled.scss",
        "docs/scss/components/_button/_outline.scss",
        "docs/scss/components/_color/_bg-color.scss",
        "docs/scss/components/_color/_gray.scss",
        "docs/scss/components/_simplemde/_base.scss",
        "docs/scss/components/_size/_min-height.scss",
        "docs/scss/components/typography/_blockquote.scss",
        "docs/scss/components/typography/_font-weight.scss",
        "docs/scss/components/typography/_lead.scss",
        "docs/scss/components/typography/_links.scss",
        "docs/scss/components/typography/_small.scss"
      ]
    },
    {
      "path": "docs/templates/answer/history.kit",
      "imports": [
        "docs/templates/_common/head.html"
      ]
    },
    {
      "path": "docs/templates/feed/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/feed/block/ask_question.html",
        "docs/templates/feed/block/lure/set_real_name.html",
        "docs/templates/feed/block/lure/set_signature.html",
        "docs/templates/feed/block/lure/follow_3_topics.html",
        "docs/templates/feed/block/lure/follow_3_questions.html",
        "docs/templates/feed/block/lure/follow_3_users.html",
        "docs/templates/feed/block/lure/write_answer.html",
        "docs/templates/_common/activity/f_u_update_a.html",
        "docs/templates/_common/activity/f_u_follow_t.html",
        "docs/templates/_common/activity/f_t_added_q.html",
        "docs/templates/_common/activity/f_u_follow_u.html",
        "docs/templates/_common/activity/f_u_added_q.html",
        "docs/templates/_common/activity/f_u_added_q_img.html",
        "docs/templates/_common/activity/f_u_follow_q.html",
        "docs/templates/_common/activity/f_u_update_signature.html",
        "docs/templates/_common/activity/f_q_update_a.html",
        "docs/templates/_common/activity/f_u_rename_q.html",
        "docs/templates/_common/activity/f_q_renamed_by_u.html",
        "docs/templates/_common/activity/not_found.html",
        "docs/templates/feed/block/improve_feed.html",
        "docs/templates/_common/sidebar_footer.html",
        "docs/templates/_common/modal/ask.html",
        "docs/templates/_common/js_bottom.html"
      ]
    },
    {
      "path": "docs/templates/flow/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/flow/block/header.html",
        "docs/templates/_common/activity/f_u_update_a.html",
        "docs/templates/_common/activity/f_u_follow_t.html",
        "docs/templates/_common/activity/f_t_added_q.html",
        "docs/templates/_common/activity/f_u_follow_u.html",
        "docs/templates/_common/activity/f_u_added_q.html",
        "docs/templates/_common/activity/f_u_added_q_img.html",
        "docs/templates/_common/activity/f_u_follow_q.html",
        "docs/templates/_common/activity/f_u_update_signature.html",
        "docs/templates/_common/activity/f_q_update_a.html",
        "docs/templates/_common/activity/f_u_rename_q.html",
        "docs/templates/_common/activity/f_q_renamed_by_u.html",
        "docs/templates/_common/activity/not_found.html",
        "docs/templates/flow/block/nav.html",
        "docs/templates/_common/sidebar_footer.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/question/full.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar_unlogged.kit",
        "docs/templates/question/block/header_full.kit",
        "docs/templates/question/block/image.html",
        "docs/templates/question/block/actions.html",
        "docs/templates/question/block/answer_lead.html",
        "docs/templates/question/block/answer.html",
        "docs/templates/question/block/actions_bottom.html",
        "docs/templates/question/block/topics.html",
        "docs/templates/question/block/contributors_tail.html",
        "docs/templates/question/block/sidebar/contributors_top.html",
        "docs/templates/question/block/sidebar/adv.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html",
        "docs/templates/question/block/header/topics_full.html",
        "docs/templates/question/block/header/title.html",
        "docs/templates/question/block/header/info.html"
      ]
    },
    {
      "path": "docs/templates/questions/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/questions/block/nav.html",
        "docs/templates/_common/questions/with_answers.html",
        "docs/templates/questions/block/sandbox_questions.html",
        "docs/templates/_common/octo_in_social_networks.html",
        "docs/templates/_common/sidebar_footer.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/sandbox/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/sandbox/block/nav.html",
        "docs/templates/_common/questions/without_answers.html",
        "docs/templates/sandbox/block/about_sandbox.html",
        "docs/templates/_common/octo_in_social_networks.html",
        "docs/templates/_common/sidebar_footer.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/topic/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/topic/block/header.html",
        "docs/templates/topic/block/nav.html",
        "docs/templates/_common/questions/2_with_answers.html",
        "docs/templates/topic/block/related_topics.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/topics/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar_logged.kit",
        "docs/templates/topics/block/header.html",
        "docs/templates/topics/block/nav.html",
        "docs/templates/topics/block/topics_table.html",
        "docs/templates/topics/block/more_topics.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/user/full.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar_logged.kit",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/users/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar_logged.kit",
        "docs/templates/users/block/header.html",
        "docs/templates/users/block/nav.html",
        "docs/templates/users/block/users_table.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/_common/navbar_unlogged.kit",
      "imports": [
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/_common/navbar_logged.kit",
      "imports": [
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/question/empty.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar_unlogged.kit",
        "docs/templates/question/block/header_empty.kit",
        "docs/templates/question/block/image.html",
        "docs/templates/question/block/actions.html",
        "docs/templates/question/block/answer_lead.html",
        "docs/templates/question/block/answer.html",
        "docs/templates/question/block/topics.html",
        "docs/templates/question/block/contributors_tail.html",
        "docs/templates/question/block/sidebar/contributors_top.html",
        "docs/templates/question/block/sidebar/adv.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html",
        "docs/templates/question/block/header/topics_empty.html",
        "docs/templates/question/block/header/title.html",
        "docs/templates/question/block/header/info.html"
      ]
    },
    {
      "path": "docs/templates/question/block/header/sfull.kit",
      "imports": [
        "docs/templates/question/block/header/header_info.html"
      ]
    },
    {
      "path": "docs/templates/question/block/header_empty.kit",
      "imports": [
        "docs/templates/question/block/header/topics_empty.html",
        "docs/templates/question/block/header/title.html",
        "docs/templates/question/block/header/info.html"
      ]
    },
    {
      "path": "docs/templates/question/block/header_full.kit",
      "imports": [
        "docs/templates/question/block/header/topics_full.html",
        "docs/templates/question/block/header/title.html",
        "docs/templates/question/block/header/info.html"
      ]
    },
    {
      "path": "docs/templates/question/user/full.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/logged.kit",
        "docs/templates/question/_block/header/topics_full.html",
        "docs/templates/question/_block/header/title.html",
        "docs/templates/question/_block/header/info.html",
        "docs/templates/question/_block/image.html",
        "docs/templates/question/_block/actions/top.html",
        "docs/templates/question/_block/answer_lead.html",
        "docs/templates/question/_block/answer.html",
        "docs/templates/question/_block/actions/bottom.html",
        "docs/templates/question/_block/topics.html",
        "docs/templates/question/_block/contributors_full.html",
        "docs/templates/question/_block/related_questions.html",
        "docs/templates/question/_block/sidebar/contributors_top.html",
        "docs/templates/question/_block/interesting_questions.html",
        "docs/templates/_common/footer.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/question/user/empty.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/logged.kit",
        "docs/templates/question/_block/header_empty.kit",
        "docs/templates/question/_block/actions/top.html",
        "docs/templates/question/_block/lure/be_first_contributor.html",
        "docs/templates/question/_block/topics.html",
        "docs/templates/question/_block/related_questions.html",
        "docs/templates/question/_block/sidebar/contributors_top.html",
        "docs/templates/question/_block/lure/add_image.html",
        "docs/templates/_common/footer.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html",
        "docs/templates/question/_block/header/topics_empty.html",
        "docs/templates/question/_block/header/title.html",
        "docs/templates/question/_block/header/info.html"
      ]
    },
    {
      "path": "docs/templates/question/guest/full.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/question/_block/header/topics_full.html",
        "docs/templates/question/_block/header/title.html",
        "docs/templates/question/_block/header/info.html",
        "docs/templates/question/_block/image.html",
        "docs/templates/question/_block/actions.html",
        "docs/templates/question/_block/answer_lead.html",
        "docs/templates/question/_block/answer.html",
        "docs/templates/question/_block/actions_bottom.html",
        "docs/templates/question/_block/topics.html",
        "docs/templates/question/_block/contributors_full.html",
        "docs/templates/question/_block/related_questions.html",
        "docs/templates/question/_block/sidebar/contributors_top.html",
        "docs/templates/question/_block/sidebar/adv.html",
        "docs/templates/question/_block/interesting_questions.html",
        "docs/templates/_common/footer.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/_common/navbar/logged.kit",
      "imports": [
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/_common/navbar/unlogged.kit",
      "imports": [
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/templates/question/guest/empty.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/question/_block/header_empty.kit",
        "docs/templates/question/_block/actions/top.html",
        "docs/templates/question/_block/lure/be_first_contributor.html",
        "docs/templates/question/_block/topics.html",
        "docs/templates/question/_block/lure/subscribe.html",
        "docs/templates/question/_block/related_questions.html",
        "docs/templates/_common/lure/about_octo.html",
        "docs/templates/_common/footer.html",
        "docs/templates/_common/modal/signup.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html",
        "docs/templates/question/_block/header/topics_empty.html",
        "docs/templates/question/_block/header/title.html",
        "docs/templates/question/_block/header/info.html"
      ]
    },
    {
      "path": "docs/components.kit",
      "imports": [
        "docs/templates/_demo/buttons.html"
      ]
    },
    {
      "path": "docs/templates/components.kit",
      "imports": [
        "docs/templates/_components/header.html",
        "docs/templates/_components/buttons.html",
        "docs/templates/_components/badge.html",
        "docs/templates/_components/image-sizes.html",
        "docs/templates/_components/status.html",
        "docs/templates/_components/typography_heading.html",
        "docs/templates/_components/typography_text.html",
        "docs/templates/_components/colors.html"
      ]
    },
    {
      "path": "docs/templates/main/guest/show.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/unlogged.kit",
        "docs/templates/main/_block/jumbotron.html",
        "docs/templates/main/_block/how_it_works.html",
        "docs/templates/main/_block/nav.html",
        "docs/templates/_common/questions/with_answers.html",
        "docs/templates/_common/lure/about_octo.html",
        "docs/templates/_common/footer.html",
        "docs/templates/_common/modal/signup.html",
        "docs/templates/_common/js_bottom.html",
        "docs/templates/_common/modal/ask.html"
      ]
    },
    {
      "path": "docs/scss/components/_simplemde.scss",
      "imports": [
        "docs/scss/components/_simplemde/_base.scss"
      ]
    },
    {
      "path": "docs/templates/topics/user/full.kit",
      "imports": [
        "docs/templates/_common/head.html",
        "docs/templates/_common/navbar/logged.kit",
        "docs/templates/topics/block/header.html",
        "docs/templates/topics/block/nav.html",
        "docs/templates/topics/block/topics_table.html",
        "docs/templates/topics/block/more_topics.html",
        "docs/templates/_common/modal/ask.html"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"autoCompile\":false}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}