
// Default

.badge {
    font-size: 1rem;
    font-weight: 400;
    border-radius: $border-radius;
    border-width: 1px;
    border-style: solid;

    border-color: $color-blue-50;
    background-color: $color-blue-50;
    color: $color-blue-800;
    padding: .5em .75em;
    white-space: nowrap;
    vertical-align: middle;

    .badge-icon {
        width: 1rem;
        height: 1rem;
        margin-top: -3px;
        margin-right: .25rem;
    }
}

a.badge:hover {
    text-decoration: none !important;
}

// Sizes

.badge-sm {
    font-size: .875rem;
    padding: .25rem .5rem;

    .badge-icon {
        width: .75rem;
        height: .75rem;
        margin-left: 0;
        margin-top: -2px;
        margin-right: .125rem;
    }
}

// Force cursor style for links

a.badge-primary,
a.badge-secondary,
a.badge-success,
a.badge-warning,
a.badge-danger,
a.badge-info,
a.badge-light,
a.badge-dark {
    cursor: pointer;
}

// Primary badge

span.badge-primary a.badge-primary {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
    color: $color-primary;
}

a.badge-primary:hover {
    border-color: $color-blue-100 !important;
    background-color: $color-blue-100 !important;
    color: $color-blue-800 !important;
}

// Secondary badge

span.badge-secondary, a.badge-secondary {
    border-color: $color-gray-200;
    background-color: $color-gray-200;
    color: $color-gray-800;
}

a.badge-secondary:hover {
    border-color: $color-gray-300 !important;
    background-color: $color-gray-300 !important;
    color: $color-gray-800 !important;
}

// Success badge

span.badge-success, a.badge-success {
    border-color: $color-analogous-green;
    background-color: $color-analogous-green;
    color: $color-white;
}

a.badge-success:hover {
    border-color: $color-analogous-green !important;
    background-color: $color-analogous-green !important;
    color: $color-white !important;
}

// Warning badge

span.badge-warning, a.badge-warning {
    border-color: $color-triadic-yellow;
    background-color: $color-triadic-yellow;
    color: $color-black;
}

a.badge-warning:hover {
    border-color: $color-triadic-yellow !important;
    background-color: $color-triadic-yellow !important;
    color: $color-black !important;
}

// Danger badge

span.badge-danger, a.badge-danger {
    border-color: $color-split-red;
    background-color: $color-split-red;
    color: $color-white;
}

a.badge-danger:hover {
    border-color: $color-split-red !important;
    background-color: $color-split-red !important;
    color: $color-white !important;
}

// Info badge

span.badge-info, a.badge-info {
    // border-color: $color-teal-50;
    // background-color: $color-teal-50;
    // color: $color-teal-600;
}

a.badge-info:hover {
    // border-color: $color-teal-100 !important;
    // background-color: $color-teal-100 !important;
    // color: $color-teal-600 !important;
}

// Light badge

span.badge-light, a.badge-light {
    border-color: $color-gray-50;
    background-color: $color-gray-50;
    color: $color-gray-400;
}

a.badge-light:hover {
    border-color: $color-gray-100 !important;
    background-color: $color-gray-100 !important;
    color: $color-gray-400 !important;
}

// Dark badge

span.badge-dark, a.badge-dark {
    border-color: $color-gray-600;
    background-color: $color-gray-600;
    color: $color-white;
}

a.badge-dark:hover {
    border-color: $color-gray-400 !important;
    background-color: $color-gray-400 !important;
    color: $color-white !important;
}
