
.btn {
    cursor: pointer;
    border-radius: $border-radius;

    .btn-icon {
        width: 20px;
        height: 20px;
        margin-top: -3px;
        margin-right: .25rem;
    }
}

.btn-lg {
    border-radius: $border-radius-lg;
}

.btn-sm {
    border-radius: $border-radius-sm;

    .btn-icon {
        width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-right: .125rem;
    }
}

.btn-primary {
    color: $color-white;
    background-color: $color-primary-500;
    border-color: $color-primary-500;

    &:hover {
        color: $color-white;
        background-color: $color-primary-700;
        border-color: $color-primary-700;
    }
}

.btn-secondary {
    color: $color-white;
    background-color: $color-gray-700;
    border-color: $color-gray-700;

    &:hover {
        color: $color-white;
        background-color: $color-gray-800;
        border-color: $color-gray-800;
    }
}

.btn-success {
    color: $color-success-800;
    background-color: $color-success-100;
    border-color: $color-success-300;

    &:hover {
        color: $color-white;
        background-color: $color-success-800;
        border-color: $color-success-800;
    }
}

.btn-warning {
    color: $color-white;
    background-color: $color-secondary-600;
    border-color: $color-secondary-600;

    &:hover {
        color: $color-white;
        background-color: $color-secondary-700;
        border-color: $color-secondary-700;
    }
}

// Outline buttons

.btn-outline-primary {
    color: $color-primary-500;
    border-color: $color-primary-100;
    background-color: transparent;
}
.btn-outline-primary:hover {
    color: $color-primary-500;
    border-color: $color-primary-500;
    background-color: transparent;
}

.btn-outline-secondary {
    color: $color-gray-700;
    border-color: $color-gray-400;
    //background-color: transparent;

    &:hover {
        color: $color-gray-700;
        border-color: $color-gray-700;
        background-color: transparent;
    }
}

.btn-outline-success {
    color: $color-success-500;
    border-color: $color-success-100;
}
.btn-outline-success:hover {
    color: $color-success-500;
    border-color: $color-success-100;
    background-color: transparent;
}

.btn-outline-warning {
    color: $color-secondary-500;
    border-color: $color-secondary-100;
}
.btn-outline-warning:hover {
    color: $color-secondary-500;
    border-color: $color-secondary-500;
    background-color: transparent;
}

// Share buttons

.btn_share {
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: .5rem .75rem;

    &:hover {
        opacity: 0.8;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-top: -3px;
    }
    span.title {
        margin-left: .25rem;
    }
}

.btn_facebook {
    color: $color-white;
    background-color: #3b5999;
    border-color: #3b5999;
}

.btn_twitter {
    color: $color-white;
    background-color: #55acee;
    border-color: #55acee;

    &:hover {
        color: $color-white;
        background-color: #2594e8;
        border-color: #2594e8;
    }
}

.btn_vk {
    color: $color-white;
    background-color: #4c75a3;
    border-color: #4c75a3;

    &:hover {
        color: $color-white;
        background-color: #2594e8;
        border-color: #2594e8;
    }
}

.btn_telegram {
    color: $color-white;
    background-color: #00AFF0; // Skype color
    border-color: #00AFF0;

    &:hover {
        color: $color-white;
        background-color: #2594e8;
        border-color: #2594e8;
    }
}
