
h1, .h1 {
    font-size: $font-size-h1;
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.5rem;
}

h3, .h3 {
    font-size: 1.4rem;
}

h4, .h4 {
    font-size: 1.3rem;
}

h5, .h5 {
    font-size: 1.2rem;
}

h6, .h6 {
    font-size: 1.1rem;
}

// Mega headers

.display-1, .display-2, .display-3, .display-4 {
    font-weight: 600;
    line-height: 1.2;
}

.display-1 {
    font-size: 3.5rem;
}

.display-2 {
    font-size: 3rem;
}

.display-3 {
    font-size: 1.5rem;

    @media (min-width: $breakpoint_sm) {
        font-size: 2rem;
    }

    @media (min-width: $breakpoint_md) {
        font-size: 2.5rem;
    }
}

.display-4 {
    font-size: 2rem;
}

.display-subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    color: $color-gray-600;
}
