
.navbar {
    background-color: $color-gray-50 !important;
    border-bottom: 1px solid $color-gray-300;

    .container-fluid {

        /* Fix bug width x-paddings */
        @media (min-width: $breakpoint_sm) {
            padding-left: 0;
            padding-right: 0;
        }

        @media (min-width: $breakpoint_md) {
            padding-right: 15px;
            padding-left: 15px;
        }

        $user-avatar-size: 38px;

        a.user-avatar {
            display: inline-block;
            width: $user-avatar-size;
            height: $user-avatar-size;
            border: 1px solid $color-gray-300;
            border-radius: $border-radius-base;

            img {
                width: $user-avatar-size - 2;
                height: $user-avatar-size - 2;
                border-radius: $border-radius-base;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}
