
// Small size in pixels

.size-14px {
    width: 14px;
    height: 14px;
}

.size-16px {
    width: 16px;
    height: 16px;
}

.size-18px {
    width: 18px;
    height: 18px;
}

.size-20px {
    width: 20px;
    height: 20px;
}

.size-22px {
    width: 22px;
    height: 22px;
}


.wh-32 { width: 32px; height: 32px; }
.wh-48 { width: 48px; height: 48px; }
.wh-64 { width: 64px; height: 64px; }
.wh-96 { width: 96px; height: 96px; }


.wh_3 {
    width: 1.5rem;
    height: 1.5rem;
}
.wh_4 {
    width: 2rem;
    height: 2rem;
}
.wh-3 { width: 3rem; height: 3rem; }
.wh-4 { width: 4rem; height: 4rem; }

.wh-lg {
    width: 3rem;
    height: 3rem;
}

.wh-160 { width: 160px; height: 160px; }

// Width

.width-2 {
    width: 1rem;
}

.width-3 {
    width: 1.5rem;
}

.width-4 {
    width: 2rem;
}

.width-5 {
    width: 2.5rem;
}

.width-6 {
    width: 3rem;
}

.width-8 {
    width: 4rem;
}

.width-9 {
    width: 4.5rem;
}

.width-10 {
    width: 5rem;
}

.width-11 {
    width: 5.5rem;
}

.width-12 {
    width: 6rem;
}

// Height

.height-4 {
    height: 2rem;
}

.height-8 {
    height: 4rem;
}

.height-12 {
    height: 6rem;
}

.height-16 {
    height: 8rem;
}

// Size (width & height)

.size-2 {
    width: 1rem;
    height: 1rem;
}

.size-3 {
    width: 1.5rem;
    height: 1.5rem;
}

.size-4 {
    width: 2rem;
    height: 2rem;
}

.size-5 {
    width: 2.5rem;
    height: 2.5rem;
}

.size-6, .size-6-steps {
    width: 3rem;
    height: 3rem;
}

.size-8 {
    width: 4rem;
    height: 4rem;
}

.size-12, .size-12-steps {
    width: 6rem;
    height: 6rem;
}

//

.width-md-100 {
    @media (min-width: $breakpoint_md) {
        width: 100% !important;
        height: auto !important;
    }
}
//

.size-sm-12-steps {
    @media (min-width: $breakpoint_sm) {
        width: 6rem!important;
        height: 6rem!important;
    }
}

.size-md-12-steps {
    @media (min-width: $breakpoint_md) {
        width: 6rem!important;
        height: 6rem!important;
    }
}

//

.min-height-4 {
    min-height: 2rem;
}

.min-height-8 {
    min-height: 4rem;
}

// min-width

.min-width-12-steps {
    min-width: 6rem;
}

.min-width-14-steps {
    min-width: 7rem;
}

.min-width-16-steps {
    min-width: 8rem;
}

//

.max-width-20 {
    max-width: 10rem;
}

.max-width-30 {
    max-width: 15rem;
}

// Max width

.max-width-sm {
    max-width: $breakpoint-sm - 1;
}

.max-width-md {
    max-width: $breakpoint-md - 1;
}

.max-width-lg {
    max-width: $breakpoint-lg - 1;
}

.max-width-xl {
    max-width: $breakpoint-xl - 1;
}

// Addition to w-25, w-50, w-75 and w-100

.w-32 {
    width: 32% !important;
    margin: 0;
}
