
.status {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: $color-gray-200;
    border-radius: 50%;
}

// Status sizes

.status-sm {
    width: .25rem;
    height: .25rem;
}
.status-lg {
    width: 1rem;
    height: 1rem;
}

// Status colors

.status-primary {
    background-color: $color-primary;
}
.status-positive {
    background-color: $color-green;
}
.status-intermediate {
    background-color: $color-triadic-yellow;
}
.status-negative {
    background-color: $color-split-red;
}
