
//
// Main colors
//

$color-primary: #3498db; // (blue)

//
// Complementary colors
//

// Colors calculated with https://www.sessions.edu/color-calculator/

// Triadic

$color-triadic-pink: #db3466;
$color-triadic-yellow: #dbc234;

// Split complementary

$color-split-red: #db4534; // For "warning" highligts
$color-split-yellow: #db9834;

// Analogous

$color-analogous-green: #34db77; // For "success" highligts
$color-analogous-purple: #5634db;

// Full coolors Palette
// https://coolors.co/3498db-db3466-dbc234-34db77-db4534





//
// Primary & secondary colors
//

$color-primary-lightest: #BBDEFB; // blue 100
$color-primary-light: #64B5F6; // blue 300

$color_primary_dark: #1976D2; // blue 700
$color_primary_darkest: #0D47A1; // blue 900

$color_secondary_lightest: #b0bec5; // blue gray 200
$color_secondary_light: #78909c; // blue gray 400
$color_secondary: #546e7a; // blue gray 600
$color_secondary_dark: #37474f; // blue gray 800
$color_secondary_darkest: #263238; // blue gray 900

$color-success-lightest: #C8E6C9; // Green 100
$color-success-light: #81C784; // Green 300
$color-success: #43A047; // Green 600
$color-success-dark: #388E3C; // Green 700
$color-success-darkest: #1B5E20; // Green 900

$color-warning-lightest: #FFCDD2; // Red 100
$color-warning-light: #E57373; // Red 300
$color-warning: #F44336; // Red 500
$color-warning-dark: #D32F2F; // Red 700
$color-warning-darkest: #B71C1C; // Red 100


$pink_300: #F06292;
$pink_400: #EC407A;
$pink_500: #E91E63;

//
// Material Design Colors
//





$color-blue-50: #e3f2fd;
$color-blue-100: #bbdefb;
$color-blue-200: #90caf9;
$color-blue-300: #64b5f6;
$color-blue-400: #42a5f5;
$color-blue-500: #2196f3;
$color-blue: #2196F3;
$color-blue-600: #1e88e5;
$color-blue-700: #1976d2;
$color-blue-800: #1565c0;
$color-blue-900: #0d47a1;
$color-blue-a100: #82b1ff;
$color-blue-a200: #448aff;
$color-blue-a400: #2979ff;
$color-blue-a700: #2962ff;





$color_green_50: #e8f5e9;
$color_green_100: #c8e6c9;
$color_green_200: #a5d6a7;
$color_green_300: #81c784;
$color_green_400: #66bb6a;
$color_green_500: #4caf50; $color_green: #4caf50;
$color_green_600: #43a047;
$color_green_700: #388e3c;
$color_green_800: #2e7d32;
$color_green_900: #1b5e20;
$color_green_a100: #b9f6ca;
$color_green_a200: #69f0ae;
$color_green_a400: #00e676;
$color_green_a700: #00c853;

// White-black gradiend for text & borders

$color-white: #FFFFFF;
$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;
$color-black: #000000;
