
//
// Main color
//

$color-primary-50: #DAECF8;
$color-primary-100: #C7E2F5;
$color-primary-200: #A2D0EE;
$color-primary-300: #7DBDE8;
$color-primary-400: #58AAE1;
$color-primary-500: #3498db; // main color (blue)
$color-primary-600: #2B7DB4;
$color-primary-700: #22618C;
$color-primary-800: #184664;
$color-primary-900: #0F2A3C;

//
// Secondary & tertiary Complementary colors
//
// Colors calculated with https://www.sessions.edu/color-calculator/
//
// Full coolors Palette
// https://coolors.co/3498db-db3466-dbc234-34db77-db4534
//

// Secondary & tertiary colors - it's a triadic complementary

$color-secondary-100: #F5EEC7;
$color-secondary-200: #EEE3A2;
$color-secondary-300: #E8D87D;
$color-secondary-400: #E1CD58;
$color-secondary-500: #dbc234; // main color (yellow)
$color-secondary-600: #B49F2B;
$color-secondary-700: #8C7C22;
$color-secondary-800: #645918;
$color-secondary-900: #3C350F;

$color-tertiary-100: #F5C7D5;
$color-tertiary-200: #EEA2B9;
$color-tertiary-300: #E87D9D;
$color-tertiary-400: #E15881;
$color-tertiary-500: #db3466; // main color (pink)
$color-tertiary-600: #B42B54;
$color-tertiary-700: #8C2241;
$color-tertiary-800: #64182F;
$color-tertiary-900: #3C0F1C;

//
// Success, warning and etc. colors
//

// Success color
// Analogous complementary green for primary color

$color-success-100: #C7F5D9;
$color-success-200: #A2EEC1;
$color-success-300: #7DE8A8;
$color-success-400: #58E18F;
$color-success-500: #34db77; // main color (green)
$color-success-600: #2BB462;
$color-success-700: #228C4C;
$color-success-800: #186437;
$color-success-900: #0F3C21;

// Warning color
// Analogous complementary yellow for primary color
// @ used secondary yellow

// Danger color
// Split complementary red for primary color

$color-danger-100: #F5CCC7;
$color-danger-200: #EEAAA2;
$color-danger-300: #E8887D;
$color-danger-400: #E16658;
$color-danger-500: #db4534; // main color (red)
$color-danger-600: #B4392B;
$color-danger-700: #8C2C22;
$color-danger-800: #642018;
$color-danger-900: #3C130F;

// Info color
// Analogous complementary purple for primary color

$color-info-100: #D0C7F5;
$color-info-200: #B2A2EE;
$color-info-300: #937DE8;
$color-info-400: #7458E1;
$color-info-500: #5634db; // main color (purple)
$color-info-600: #472BB4;
$color-info-700: #37228C;
$color-info-800: #281864;
$color-info-900: #180F3C;

//
// White-black gradiend for text & borders
//

$color-white: #FFFFFF;
$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;
$color-black: #000000;
