a {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark;
  }
}

a.link-broken {
  color: $color-complementary-red;

  &:after {
    content: url("https://png.icons8.com/small/16/db3466/unavailable-cloud.png");
    margin: 0 0 0 5px;
    vertical-align: middle;
  }
}

a.link-external:after {
  content: url("https://png.icons8.com/small/16/3498db/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}
