.mdc-top-app-bar {
    z-index: 7;
    /* only apply this style if below top app bar*/
}

.mdc-top-app-bar__title {
    padding-left: 16px;
}

@media(min-width: 1025px) {
    .mdc-top-app-bar__navigation-icon {
        display: none;
    }

    .mdc-top-app-bar__title {
        padding-left: 8px;
    }
}

.app-bar {
    position: fixed;
}
