.mdc-drawer--modal {
    z-index: 9;
}

.mdc-drawer-scrim {
    z-index: 8;
}

/* mdc-permanent-drawer */
@media(max-width: 1024px) {
    #mdc-permanent-drawer {
        display: none;
    }
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}