// Success Colors

.color-success {
    color: $color-success;
}

// Black & White

.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

// Color Secondary

.color-secondary {
    color: $color-secondary;
}

.color-secondary-light-1 {
    color: $color-secondary-light-1;
}

.color-secondary-light-2 {
    color: $color-secondary-light-2;
}

.color-secondary-light-3 {
    color: $color-secondary-light-3;
}

.color-secondary-light-4 {
    color: $color-secondary-light-4;
}

.color-secondary-dark-1 {
    color: $color-secondary-dark-1;
}

.color-secondary-dark-2 {
    color: $color-secondary-dark-2;
}

.color-secondary-dark-3 {
    color: $color-secondary-dark-3;
}

.color-secondary-dark-4 {
    color: $color-secondary-dark-4;
}

// Background Colors

.bg-color-secondary-light-1 {
    background-color: $color-secondary-light-1;
}

.bg-color-secondary-light-2 {
    background-color: $color-secondary-light-2;
}

.bg-color-secondary-light-3 {
    background-color: $color-secondary-light-3;
}

.bg-color-secondary-light-4 {
    background-color: $color-secondary-light-4;
}

.bg-color-secondary-light-5 {
    background-color: $color-secondary-light-5;
}


.bg-color-primary-light-5 {
    background-color: $color-primary-light-5;
}

.bg-color-primary-light-6 {
    background-color: $color-primary-light-6;
}

.bg-color-primary-light-7 {
    background-color: $color-primary-light-7;
}