@import "_variables";

@import "components/_alert";
@import "components/_avatar";
@import "components/_badge";
@import "components/_body";
@import "components/_border";
@import "components/_button";
@import "components/_box";
@import "components/_card";
@import "components/_color";
@import "components/_dropdowns";
@import "components/_flex";
@import "components/_form";
@import "components/_heading";
@import "components/_image";
@import "components/_navbar";
@import "components/_pseudo_table";
@import "components/_size";
@import "components/_spacing";
@import "components/_status";
@import "components/_table";
@import "components/_title";
@import "components/_typography";

@import "components/nav/_underlined";

@import "components/activity/lure";

@import "components/block/add_image";
@import "components/block/check_list";
@import "components/block/first_answer";
@import "components/block/follow_question";
@import "components/block/improve_answer";
@import "components/block/info";

.container-fluid {
    max-width: 1139px;
}

.lead {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: $color-gray-800;
}

.lead-thin {
    font-weight: 300;
}

.text-nowrap {
    white-space: nowrap;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .pt-md-32px { padding-top: 32px!important; }
    .pb-md-32px { padding-bottom: 32px!important; }
    .pl-md-32px { padding-left: 32px!important; }
    .pr-md-32px { padding-right: 32px!important; }
}

.underline-blue-3px { border-bottom: 3px solid #2196F3; }

.ml_minus_1 {
    margin-left: -0.25rem!important;
}

.border-grey-400 { border: 1px solid #BDBDBD; }
.border-grey-500 { border: 1px solid #9E9E9E; }

.border-top-grey-300 { border-top: 1px solid #E0E0E0; }
.border-bottom-grey-300 { border-bottom: 1px solid #E0E0E0; }

.text-warning { color: #FFA000 !important; }

.border-primary { border-color: #039BE5 !important; }

.line-height-1 { line-height: 1rem; }
.line-height-1dot1 { line-height: 1.1rem; }

ul.nav-main { list-style: none; padding-left: 0; margin-bottom: 1rem; }
ul.nav-main > li { font-size: 1rem; padding: .2rem 0; }
ul.nav-main > li > span.header { font-size: .8rem; color: #9E9E9E; }
ul.nav-main > li > a { color: #616161; } /* grey 700 */
ul.nav-main > li > a:hover { color: #0288D1; text-decoration: none; } /* light blue 700 */

.nav-underline .nav-link { padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 1.5rem; }
.nav-underline .active { border-bottom: 4px solid #2196F3; }


.input-bg-icon-magnifier-lg { background:url("https://png.icons8.com/material/28/546e7a/search.png") no-repeat 10px 10px; background-color: #fff; padding-left: 48px; }


.menu-section { margin-bottom: 2.5rem; }
.menu-section-title { color: rgba(0,0,0,.55); margin-bottom: 0.5rem; font-weight: bold; }
.menu-list { margin-bottom: 0; }
.menu-list-link { color: #99979c; text-decoration: none; }
.menu-list-link:hover { color: #007bff; text-decoration: none; }
