a {
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 10%);
  }
}

a.link-external:after {
  content: url("http://images.answeropedia.org/images/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}
