
.btn-outline-primary {
    color: $color-primary-600;
    border-color: $color-primary-200;
    background-color: transparent;

    &:hover {
        color: $color-primary-600;
        border-color: $color-primary-200;
        background-color: $color-primary-50;
    }
}

.btn-outline-secondary {
    color: $color-gray-700;
    border-color: $color-gray-400;
    //background-color: transparent;

    &:hover {
        color: $color-gray-700;
        border-color: $color-gray-700;
        background-color: transparent;
    }
}

.btn-outline-success {
    color: $color-success-700;
    border-color: $color-success-600;

    &:hover {
        color: $color-success-700;
        border-color: $color-success-600;
        background-color: $color-success-100;
    }
}

.btn-outline-warning {
    color: $color-secondary-500;
    border-color: $color-secondary-100;
}
.btn-outline-warning:hover {
    color: $color-secondary-500;
    border-color: $color-secondary-500;
    background-color: transparent;
}
