// Breakpoints

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin sm-and-down {
    @media (max-width: $breakpoint-sm - 1) {
        @content;
    }
}

@mixin sm-and-up {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

$color-white: #ffffff;
$color-black: #000000;

// Primary Color (https://convertingcolors.com/hex-color-3d95e9.html)


$color-primary-light-7: #FAFDFF; // from C7E4FF
$color-primary-light-6: #E1F0FF; // from C7E4FF
$color-primary-light-5: #C7E4FF; // from C7E4FF
$color-primary-light-4: #AED8FF; // from C7E4FF
$color-primary-light-3: #94CBFF; // from C7E4FF
$color-primary-light-2: #7ABFFF; // from C7E4FF
$color-primary-light-1: #61B3FF; // from C7E4FF
$color-primary: #3d95e9;
$color-primary-dark-1: #007BCD;
$color-primary-dark-2: #0063B1;
$color-primary-dark-3: #004B96;
$color-primary-dark-4: #00357B;

$color-secondary-light-5: #F8F8F8;
$color-secondary-light-4: #F1F1F1;
$color-secondary-light-3: #D5D5D5;
$color-secondary-light-2: #B9B9B9;
$color-secondary-light-1: #9E9E9E;
$color-secondary: #848484;
$color-secondary-dark-1: #6B6B6B;
$color-secondary-dark-2: #535353;
$color-secondary-dark-3: #3C3C3C;
$color-secondary-dark-4: #262626;

// Color Success

$color-success-light-6: #D0FFCC;
$color-success-light-5: #B2FFB0;
$color-success-light-4: #95FF94;
$color-success-light-3: #77F079;
$color-success-light-2: #59D35F;
$color-success-light-1: #38B745;
$color-success: #009B2B;
$color-success-dark-1: #00800C;
$color-success-dark-2: #006600;
$color-success-dark-3: #004D00;
$color-success-dark-4: #003500;

// Warning Color

$color-warning-lightest: #ffde8f; // need-replace
$color-warning-light: #ffa65a; // need-replace
$color-warning: #fdc946;
$color-warning-dark: #d85403; // need-replace
$color-warning-darkest: #b83900; // need-replace

// Danger Color

$color-danger-light-5: #FFCFDF;
$color-danger-light-4: #FFB2C3;
$color-danger-light-3: #FF94A8;
$color-danger-light-2: #FF778E;
$color-danger-light-1: #FF5A74;
$color-danger: #eb3a5c;
$color-danger-dark-1: #CB0D45;
$color-danger-dark-2: #AC002F;
$color-danger-dark-3: #8D001B;
$color-danger-dark-4: #6F0000;

// Info Color

$color-info-light-4: #FFC9FF;
$color-info-light-3: #F6ADFF;
$color-info-light-2: #D992E4;
$color-info-light-1: #BD78C7;
$color-info: #A15EAC; // Rectangle for Primary (+ 1 dark)
$color-info-dark-1: #864591;
$color-info-dark-2: #6C2C77;
$color-info-dark-3: #52125E;
$color-info-dark-4: #390046;

// Blue Gray Color

$color-blue-gray-light-4: #C7D9ED;
$color-blue-gray-light-3: #ACBED0;
$color-blue-gray-light-2: #91A3B5;
$color-blue-gray-light-1: #77889A;
$color-blue-gray: #5E6F80; // Sweetspot for primary
$color-blue-gray-dark-1: #465767;
$color-blue-gray-dark-2: #2F3F4F;
$color-blue-gray-dark-3: #182A38;
$color-blue-gray-dark-4: #011523;