.alert {
  padding: 1rem;
}

.alert .alert-heading {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.alert-secondary {
  color: #434343;
  background-color: #dedede;
  border-color: #dedede;
}

.alert-success {
  color: #007a00;
  background-color: #bbffbe;
  border-color: #bbffbe;
}

a.badge-primary,
a.badge-secondary,
a.badge-success,
a.badge-warning,
a.badge-danger,
a.badge-info,
a.badge-light,
a.badge-dark {
  cursor: pointer;
}

.badge,
span.badge-primary,
a.badge-primary {
  border-color: #00a6ff;
  background-color: #00a6ff;
}

a.badge-primary:hover {
  border-color: #008ce2 !important;
  background-color: #008ce2 !important;
}

span.badge-secondary,
a.badge-secondary {
  border-color: #737373;
  background-color: #737373;
}

span.badge-secondary:hover,
a.badge-secondary:hover {
  border-color: #5a5a5a !important;
  background-color: #5a5a5a !important;
}

span.badge-success,
a.badge-success {
  border-color: #00b038;
  background-color: #00b038;
}

a.badge-success:hover {
  border-color: #00941c !important;
  background-color: #00941c !important;
}

span.badge-warning,
a.badge-warning {
  border-color: #f86f25;
  background-color: #f86f25;
}

a.badge-warning:hover {
  border-color: #d85403 !important;
  background-color: #d85403 !important;
}

span.badge-danger {
  border-color: #ff4e68;
  background-color: #ff4e68;
}

a.badge-danger {
  border-color: #ff4e68;
  background-color: #ff4e68;
}

a.badge-danger:hover {
  border-color: #df2c50 !important;
  background-color: #df2c50 !important;
}

.border-top {
  border-top: 1px solid #e0e0e0 !important;
}

.border-bottom {
  border-bottom: 1px solid #e0e0e0 !important;
}

.border-left {
  border-left: 1px solid #e0e0e0 !important;
}

.border-right {
  border-right: 1px solid #e0e0e0 !important;
}

.btn-primary {
  border-color: #00a6ff;
  background-color: #00a6ff;
}

.btn-primary:hover {
  background-color: #008ce2;
  border-color: #008ce2;
}

.btn-secondary {
  border-color: #737373;
  background-color: #737373;
}

.btn-secondary:hover {
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.btn-success {
  border-color: #3ccc52;
  background-color: #3ccc52;
}

.btn-success:hover {
  background-color: #00941c;
  border-color: #00941c;
}

.btn-warning {
  background-color: #f86f25;
  border-color: #f86f25;
}

.btn-warning:hover {
  background-color: #f86f25;
  border-color: #f86f25;
}

.btn-outline-primary {
  color: #00a6ff;
  border-color: #00a6ff;
}

.btn-outline-primary:hover {
  background-color: #00a6ff;
  border-color: #00a6ff;
}

.btn-outline-secondary {
  color: #737373;
  border-color: #737373;
}

.btn-outline-secondary:hover {
  background-color: #737373;
  border-color: #737373;
}

.btn-outline-success {
  color: #00b038;
  border-color: #00b038;
}

.btn-outline-success:hover {
  background-color: #00b038;
  border-color: #00b038;
}

.btn-outline-warning {
  color: #f86f25;
  border-color: #f86f25;
}

.btn-outline-warning:hover {
  background-color: #f86f25;
  border-color: #f86f25;
}

.card {
  border: 1px solid #e0e0e0;
}

.bg-color-white {
  color: #ffffff;
}

.bg-color-gray-50 {
  background-color: #fafafa;
}

.bg-color-gray-100 {
  background-color: #f5f5f5;
}

.bg-color-gray-200 {
  background-color: #eeeeee;
}

.bg-color-gray-300 {
  background-color: #e0e0e0;
}

.color-white {
  color: #ffffff;
}

.color-gray-100 {
  color: #f5f5f5;
}

.color-gray-200 {
  color: #eeeeee;
}

.color-gray-300 {
  color: #e0e0e0;
}

.color-gray-400 {
  color: #bdbdbd;
}

.color-gray-500 {
  color: #9e9e9e;
}

.color-gray-600 {
  color: #757575;
}

.color-gray-700 {
  color: #616161;
}

.color-gray-800 {
  color: #424242;
}

.color-gray-900 {
  color: #212121;
}

.color-primary-lightest {
  color: #70ddff;
}

.color-primary-light {
  color: #4ac1ff;
}

.color-primary {
  color: #00a6ff !important;
}

.color-primary-dark {
  color: #008ce2;
}

.color-primary-darkest {
  color: #005aaa;
}

.color-secondary-lightest {
  color: #dedede;
}

.color-secondary-light {
  color: #a7a7a7;
}

.color-secondary {
  color: #737373;
}

.color-secondary-dark {
  color: #5a5a5a;
}

.color-secondary-darkest {
  color: #434343;
}

.color-success {
  color: #00b038;
}

.color-warning {
  color: #f86f25;
}

.color-text-white {
  color: #ffffff;
}

.color-text-lighter {
  color: #757575;
}

.color-text-light {
  color: #616161;
}

.color-text-normal {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: #00a6ff;
}

a:hover {
  color: #008ce2;
}

a.link-broken {
  color: #ff4e68;
}

a.link-broken:after {
  content: url("https://png.icons8.com/small/16/db3466/unavailable-cloud.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

a.link-external:after {
  content: url("https://png.icons8.com/small/16/3498db/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

del,
ins {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

del {
  background-color: #ffdce0;
  text-decoration: none;
}

ins {
  background-color: #cdffd8;
  text-decoration: none;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

pre {
  padding: 1rem;
  background-color: #eeeeee;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

blockquote,
.blockquote {
  background-color: #ffffff;
  border-left: 4px solid #bdbdbd;
  padding-left: 1rem;
  color: #616161;
  margin-bottom: 0 !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote p:last-child,
.blockquote p:last-child {
  margin-bottom: 0;
}

img.cover-h8 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-8 {
  display: block;
  width: 100%;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-12 {
  display: block;
  width: 100%;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-16 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-tabs {
  border-bottom: 1px solid #e0e0e0;
}

.nav-tabs .nav-link.active {
  border-top-color: #e0e0e0;
  border-right-color: #e0e0e0;
  border-bottom-color: #ffffff;
  border-left-color: #e0e0e0;
  font-weight: 600;
}

.navbar .nav-link {
  color: #9e9e9e;
}

.navbar a.user-avatar {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}

.navbar a.user-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.navbar a.user-avatar img:hover {
  opacity: 0.8;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #343d48;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .bd-navbar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: 0.25rem;
    overflow: hidden;
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
  }
}

.bd-navbar .navbar-brand {
  font-weight: 600;
}

.bd-navbar .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #ffffff;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: transparent;
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

.bd-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.bd-navbar .dropdown-menu {
  font-size: 0.875rem;
}

.bd-navbar .dropdown-item.active {
  font-weight: 600;
  color: #212121;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0.4rem 0.6rem;
  background-size: 0.75rem 0.75rem;
}

.bd-toc {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.section-nav ul {
  padding-left: 1rem;
}

.toc-entry {
  display: block;
}

.toc-entry a,
.toc-entry span {
  display: block;
  padding: 0.125rem 1.5rem;
  color: #77757a;
}

.toc-entry a:hover,
.toc-entry span:hover {
  color: #00a6ff;
  text-decoration: none;
}

.bd-sidebar {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

@media (min-width: 1200px) {
  .bd-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
            flex: 0 1 320px;
  }
}

.bd-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-links {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}

.bd-sidenav {
  display: none;
}

.bd-toc-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.bd-toc-link:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.bd-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.bd-toc-item.active > .bd-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.bd-toc-item.active > .bd-toc-link:hover {
  background-color: transparent;
}

.bd-toc-item.active > .bd-sidenav {
  display: block;
}

.bd-sidebar .nav > li > a {
  display: block;
  padding: 0.25rem 1.5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.65);
}

.bd-sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: transparent;
}

.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 1.5rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 1.4rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 1.3rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-6 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.cm-header,
.cm-strong {
  font-weight: 500 !important;
}

.wh-1 {
  width: 1rem;
  height: 1rem;
}

.wh-2 {
  width: 2rem;
  height: 2rem;
}

.wh-3 {
  width: 3rem;
  height: 3rem;
}

.wh-4 {
  width: 4rem;
  height: 4rem;
}

.wh-5 {
  width: 5rem;
  height: 5rem;
}

.wh-6 {
  width: 6rem;
  height: 6rem;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

@media (min-width: 576px) {
  .size-sm-8 {
    width: 4rem !important;
    height: 4rem !important;
  }
}

@media (min-width: 768px) {
  .width-md-100 {
    width: 100% !important;
    height: auto !important;
  }
}

.size-rectangle-30x15 {
  width: 15rem;
  height: 15rem / 2;
}

table {
  margin-bottom: 1rem;
}

/* for tables without classes (generated by SimpleMDE) */
table:not([class]) th,
table:not([class]) td {
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=style.css.map */