.alert-success {
  color: #006600;
  background-color: #E8FFEF;
  border-color: #E8FFEF;
}

.badge-primary {
  border-color: #3d95e9;
  background-color: #3d95e9;
}

.badge-secondary {
  border-color: #808080;
  background-color: #808080;
}

.badge-success {
  border-color: #009B2B;
  background-color: #009B2B;
}

.badge-warning {
  border-color: #fdc946;
  background-color: #fdc946;
}

.badge-danger {
  border-color: #eb3a5c;
  background-color: #eb3a5c;
}

.badge-light {
  border-color: #EDEDED;
  background-color: #EDEDED;
}

.border-top {
  border-top: 1px solid #EDEDED !important;
}

.border-bottom {
  border-bottom: 1px solid #EDEDED !important;
}

.border-left {
  border-left: 1px solid #EDEDED !important;
}

.border-right {
  border-right: 1px solid #EDEDED !important;
}

.btn-primary {
  border-color: #3d95e9;
  background-color: #3d95e9;
}

.btn-primary:hover {
  background-color: #007BCD;
  border-color: #007BCD;
}

.btn-secondary {
  border-color: #808080;
  background-color: #808080;
}

.btn-secondary:hover {
  background-color: #676767;
  border-color: #676767;
}

.btn-success {
  border-color: #8DC99E;
  background-color: #8DC99E;
}

.btn-success:hover {
  background-color: #00800C;
  border-color: #00800C;
}

.btn-warning {
  background-color: #fdc946;
  border-color: #fdc946;
}

.btn-warning:hover {
  background-color: #fdc946;
  border-color: #fdc946;
}

.btn-danger {
  background-color: #eb3a5c;
  border-color: #eb3a5c;
}

.btn-danger:hover {
  background-color: #CB0D45;
  border-color: #CB0D45;
}

.btn-outline-primary {
  color: #3d95e9;
  border-color: #3d95e9;
}

.btn-outline-primary:hover {
  background-color: #3d95e9;
  border-color: #3d95e9;
}

.btn-outline-secondary {
  color: #676767;
  border-color: #B5B5B5;
}

.btn-outline-secondary:hover {
  background-color: #808080;
  border-color: #808080;
}

.btn-outline-success {
  color: #009B2B;
  border-color: #009B2B;
}

.btn-outline-success:hover {
  background-color: #009B2B;
  border-color: #009B2B;
}

.btn-outline-warning {
  color: #fdc946;
  border-color: #fdc946;
}

.btn-outline-warning:hover {
  background-color: #fdc946;
  border-color: #fdc946;
}

.card {
  border: 1px solid #D0D0D0;
}

.bg-color-white {
  color: #ffffff;
}

.bg-color-gray-50 {
  background-color: #fafafa;
}

.bg-color-gray-100 {
  background-color: #f5f5f5;
}

.bg-color-gray-200 {
  background-color: #eeeeee;
}

.bg-color-gray-300 {
  background-color: #e0e0e0;
}

.color-secondary-lightest {
  color: #D0D0D0;
}

.color-secondary-light {
  color: #9A9A9A;
}

.color-secondary {
  color: #808080;
}

.color-secondary-dark {
  color: #676767;
}

.color-secondary-darkest {
  color: #383838;
}

.color-success {
  color: #009B2B;
}

.color-text-white {
  color: #ffffff;
}

.color-text-lighter {
  color: #757575;
}

.color-text-light {
  color: #616161;
}

.color-text-normal {
  color: #212121;
}

.color-white {
  color: #ffffff;
}

.color-gray-100 {
  color: #f5f5f5;
}

.color-gray-200 {
  color: #eeeeee;
}

.color-gray-300 {
  color: #e0e0e0;
}

.color-gray-400 {
  color: #bdbdbd;
}

.color-gray-500 {
  color: #9e9e9e;
}

.color-gray-600 {
  color: #757575;
}

.color-gray-700 {
  color: #616161;
}

.color-gray-800 {
  color: #424242;
}

.color-gray-900 {
  color: #212121;
}

a {
  color: #3d95e9;
}

a:hover {
  color: #007BCD;
}

a.link-broken {
  color: #eb3a5c;
}

a.link-broken:after {
  content: url("http://images.answeropedia.org/images/unavailable.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

a.link-external:after {
  content: url("http://images.answeropedia.org/images/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

del,
ins {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

del {
  background-color: #ffdce0;
  text-decoration: none;
}

ins {
  background-color: #cdffd8;
  text-decoration: none;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

pre {
  padding: 1rem;
  background-color: #EDEDED;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

blockquote,
.blockquote {
  background-color: #ffffff;
  border-left: 4px solid #D0D0D0;
  padding-left: 1rem;
  color: #808080;
  margin-bottom: 0 !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote p:last-child,
.blockquote p:last-child {
  margin-bottom: 0;
}

.small {
  font-size: .8rem;
}

.semi-small {
  font-size: .9rem;
}

img.cover-h8 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-8 {
  display: block;
  width: 100%;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-12 {
  display: block;
  width: 100%;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-16 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  border-bottom: 1px solid #D0D0D0;
}

.navbar .navbar-brand {
  font-weight: 700;
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    margin-left: .5rem;
  }
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar a.user-avatar {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #D0D0D0;
  border-radius: 50%;
}

.navbar a.user-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.navbar a.user-avatar img:hover {
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: #666;
}

.right-sidebar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .right-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.section-nav ul {
  padding-left: 1rem;
}

.bd-sidebar {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

@media (min-width: 1200px) {
  .bd-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
            flex: 0 1 320px;
  }
}

.bd-links {
  margin-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-links {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}

.bd-sidenav {
  display: none;
}

.bd-toc-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.bd-toc-link:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.bd-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.bd-toc-item.active > .bd-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.bd-toc-item.active > .bd-toc-link:hover {
  background-color: transparent;
}

.bd-toc-item.active > .bd-sidenav {
  display: block;
}

.bd-sidebar .nav > li > a {
  display: block;
  padding: 0.25rem 1.5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.65);
}

.bd-sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: transparent;
}

.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 1.5rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 1.4rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 1.3rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-6 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.cm-header,
.cm-strong {
  font-weight: 500 !important;
}

.wh-1 {
  width: 1rem;
  height: 1rem;
}

.wh-2 {
  width: 2rem;
  height: 2rem;
}

.wh-3 {
  width: 3rem;
  height: 3rem;
}

.wh-4 {
  width: 4rem;
  height: 4rem;
}

.wh-5 {
  width: 5rem;
  height: 5rem;
}

.wh-6 {
  width: 6rem;
  height: 6rem;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

@media (min-width: 576px) {
  .size-sm-8 {
    width: 4rem !important;
    height: 4rem !important;
  }
}

@media (min-width: 768px) {
  .width-md-100 {
    width: 100% !important;
    height: auto !important;
  }
}

table {
  margin-bottom: 1rem;
}

/* for tables without classes (generated by SimpleMDE) */
table:not([class]) th,
table:not([class]) td {
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=style.css.map */