@charset "UTF-8";
.alert-success {
  color: #004D00;
  background-color: #77F079;
  border-color: #77F079;
}

.badge-primary {
  border-color: #3d95e9;
  background-color: #3d95e9;
}

.badge-secondary {
  border-color: #848484;
  background-color: #848484;
}

.badge-success {
  border-color: #009B2B;
  background-color: #009B2B;
}

.badge-warning {
  border-color: #fdc946;
  background-color: #fdc946;
}

.badge-danger {
  border-color: #eb3a5c;
  background-color: #eb3a5c;
}

.badge-light {
  border-color: #F1F1F1;
  background-color: #F1F1F1;
}

.border-top {
  border-top: 1px solid #F1F1F1 !important;
}

.border-bottom {
  border-bottom: 1px solid #F1F1F1 !important;
}

.border-left {
  border-left: 1px solid #F1F1F1 !important;
}

.border-right {
  border-right: 1px solid #F1F1F1 !important;
}

.btn-light-info {
  color: #864591;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-light-info:hover {
  color: #6C2C77;
  background-color: #FFC9FF;
  border-color: #FFC9FF;
}

.btn-outline-primary {
  color: #3d95e9;
  border-color: #3d95e9;
}

.btn-outline-primary:hover {
  background-color: #3d95e9;
  border-color: #3d95e9;
}

.btn-outline-secondary {
  color: #6B6B6B;
  border-color: #B9B9B9;
}

.btn-outline-secondary:hover {
  background-color: #848484;
  border-color: #848484;
}

.btn-outline-success {
  color: #009B2B;
  border-color: #009B2B;
}

.btn-outline-success:hover {
  background-color: #009B2B;
  border-color: #009B2B;
}

.btn-outline-warning {
  color: #fdc946;
  border-color: #fdc946;
}

.btn-outline-warning:hover {
  background-color: #fdc946;
  border-color: #fdc946;
}

.btn-outline-info {
  color: #A15EAC;
  border-color: #A15EAC;
}

.btn-outline-info:hover {
  background-color: #A15EAC;
  border-color: #A15EAC;
}

.btn-outline-light {
  color: #848484;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  color: #535353;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

.btn-primary {
  border-color: #3d95e9;
  background-color: #3d95e9;
}

.btn-primary:hover {
  background-color: #007BCD;
  border-color: #007BCD;
}

.btn-secondary {
  border-color: #848484;
  background-color: #848484;
}

.btn-secondary:hover {
  background-color: #6B6B6B;
  border-color: #6B6B6B;
}

.btn-success {
  border-color: #009B2B;
  background-color: #009B2B;
}

.btn-success:hover {
  background-color: #00800C;
  border-color: #00800C;
}

.btn-warning {
  background-color: #fdc946;
  border-color: #fdc946;
}

.btn-warning:hover {
  background-color: #fdc946;
  border-color: #fdc946;
}

.btn-danger {
  background-color: #eb3a5c;
  border-color: #eb3a5c;
}

.btn-danger:hover {
  background-color: #CB0D45;
  border-color: #CB0D45;
}

.btn-info {
  background-color: #864591;
  border-color: #864591;
}

.btn-info:hover {
  background-color: #6C2C77;
  border-color: #6C2C77;
}

.card {
  border: 1px solid #D5D5D5;
}

.color-primary {
  color: #3d95e9;
}

.color-primary-dark-1 {
  color: #007BCD;
}

.color-success {
  color: #009B2B;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-secondary {
  color: #848484;
}

.color-secondary-light-1 {
  color: #9E9E9E;
}

.color-secondary-light-2 {
  color: #B9B9B9;
}

.color-secondary-light-3 {
  color: #D5D5D5;
}

.color-secondary-light-4 {
  color: #F1F1F1;
}

.color-secondary-dark-1 {
  color: #6B6B6B;
}

.color-secondary-dark-2 {
  color: #535353;
}

.color-secondary-dark-3 {
  color: #3C3C3C;
}

.color-secondary-dark-4 {
  color: #262626;
}

.bg-color-secondary-light-1 {
  background-color: #9E9E9E;
}

.bg-color-secondary-light-2 {
  background-color: #B9B9B9;
}

.bg-color-secondary-light-3 {
  background-color: #D5D5D5;
}

.bg-color-secondary-light-4 {
  background-color: #F1F1F1;
}

.bg-color-secondary-light-5 {
  background-color: #F8F8F8;
}

.bg-color-primary-light-5 {
  background-color: #C7E4FF;
}

.bg-color-primary-light-6 {
  background-color: #E1F0FF;
}

.bg-color-primary-light-7 {
  background-color: #FAFDFF;
}

img.cover-h8 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-8 {
  display: block;
  width: 100%;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-12 {
  display: block;
  width: 100%;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

img.cover-height-16 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

ul.list-links {
  padding-left: 0;
  list-style: none;
}

ul.list-links li {
  padding: 0.25rem 0;
  font-size: 0.9rem;
  color: #848484;
}

ul.list-links li a {
  color: #6B6B6B;
  text-decoration: none;
}

ul.list-links li a:hover {
  color: #3C3C3C;
}

ul.list-links li a.active {
  font-weight: 600;
  color: #535353;
}

.nav-pills .nav-item {
  margin-right: .75rem;
}

.nav-pills .nav-link {
  color: #6B6B6B;
  border: 1px solid #D5D5D5;
  line-height: 1;
  padding-top: .8rem;
  padding-bottom: .75rem;
}

.nav-pills .nav-link.active {
  border: 1px solid #3d95e9;
}

.navbar {
  border-bottom: 1px solid #D5D5D5;
}

.navbar .navbar-brand {
  font-weight: 700;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar a.user-avatar {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #D5D5D5;
  border-radius: 50%;
}

.navbar a.user-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.navbar a.user-avatar img:hover {
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: #666;
}

.sidebar-right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-right {
    position: -webkit-sticky;
    position: sticky;
    top: 57px;
    height: calc(100vh - 57px);
    overflow-y: auto;
  }
}

.sidebar-left {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-left {
    position: -webkit-sticky;
    position: sticky;
    top: 57px;
    z-index: 1000;
    height: calc(100vh - 57px);
  }
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 1.5rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 1.4rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 1.3rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.CodeMirror .CodeMirror-code .cm-header-6 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
}

.cm-header,
.cm-strong {
  font-weight: 500 !important;
}

.wh-1 {
  width: 1rem;
  height: 1rem;
}

.wh-2 {
  width: 2rem;
  height: 2rem;
}

.wh-3 {
  width: 3rem;
  height: 3rem;
}

.wh-4 {
  width: 4rem;
  height: 4rem;
}

.wh-5 {
  width: 5rem;
  height: 5rem;
}

.wh-6 {
  width: 6rem;
  height: 6rem;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-8px {
  width: 8px;
}

.w-16px {
  width: 16px;
}

.w-24px {
  width: 24px;
}

.w-32px {
  width: 32px;
}

.w-40px {
  width: 40px;
}

.max-width-40px {
  width: 100%;
  max-width: 40px;
}

.max-width-80px {
  width: 100%;
  max-width: 80px;
}

.max-width-120px {
  width: 100%;
  max-width: 120px;
}

.max-width-160px {
  width: 100%;
  max-width: 160px;
}

.max-width-200px {
  width: 100%;
  max-width: 200px;
}

.max-width-240px {
  width: 100%;
  max-width: 240px;
}

@media (min-width: 576px) {
  .size-sm-8 {
    width: 4rem !important;
    height: 4rem !important;
  }
}

@media (min-width: 768px) {
  .width-md-100 {
    width: 100% !important;
    height: auto !important;
  }
}

table {
  margin-bottom: 1rem;
}

/* for tables without classes (generated by SimpleMDE) */
table:not([class]) th,
table:not([class]) td {
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: 0.5rem 1rem;
}

.accordion {
  margin-bottom: -3px;
}

.accordion-group {
  border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
  display: none;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 8px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  min-height: 5rem;
}

.bootstrap-tagsinput input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-tagsinput .badge {
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: 8px 12px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 13px;
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

a {
  color: #3d95e9;
}

a:hover {
  color: #007BCD;
}

a.link-broken {
  color: #eb3a5c;
}

a.link-broken:after {
  content: url("http://images.answeropedia.org/images/unavailable.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

a.link-external:after {
  content: url("http://images.answeropedia.org/images/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
.h1 {
  font-weight: 600;
  font-size: 2.1rem;
}

@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: 1.9rem;
  }
}

h2,
.h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

@media (max-width: 575px) {
  h2,
  .h2 {
    font-size: 1.6rem;
  }
}

h3,
.h3 {
  font-weight: 600;
  font-size: 1.4rem;
}

@media (max-width: 575px) {
  h3,
  .h3 {
    font-size: 1.4rem;
  }
}

h4,
.h4 {
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 575px) {
  h4,
  .h4 {
    font-size: 1.2rem;
  }
}

h5,
.h5 {
  font-weight: 600;
  font-size: 1rem;
}

h6,
.h6 {
  font-weight: 600;
  font-size: 1rem;
  color: #6B6B6B;
}

del,
ins {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

del {
  background-color: #ffdce0;
  text-decoration: none;
}

ins {
  background-color: #cdffd8;
  text-decoration: none;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

pre {
  padding: 1rem;
  background-color: #F1F1F1;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

blockquote,
.blockquote {
  background-color: #ffffff;
  border-left: 4px solid #D5D5D5;
  padding-left: 1rem;
  color: #848484;
  margin-bottom: 0 !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote p:last-child,
.blockquote p:last-child {
  margin-bottom: 0;
}

.small {
  font-size: .8rem;
}

.semi-small {
  font-size: .9rem;
}

.subtitle-1 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .009375em;
}
/*# sourceMappingURL=style.css.map */