
// Avatar group

.avatar-group {
    display: inline-block;
    margin-left: 0.25rem;

    a.avatar-item {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: -0.25rem;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 0 0 2px #fff;

        img {
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
        }
    }
}
