// Default

.badge {
  border-color: $color-primary;
  background-color: $color-primary;

  &:hover {
    text-decoration: none !important;
  }
}

// Sizes

.badge-sm {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

// Force cursor style for links

a.badge-primary,
a.badge-secondary,
a.badge-success,
a.badge-warning,
a.badge-danger,
a.badge-info,
a.badge-light,
a.badge-dark {
  cursor: pointer;
}

// Primary badge

span.badge-primary a.badge-primary {
  border-color: $color-primary;
  background-color: $color-primary;
}

a.badge-primary:hover {
  border-color: $color-primary-dark !important;
  background-color: $color-primary-dark !important;
}

// Secondary badge

span.badge-secondary,
a.badge-secondary {
  border-color: $color-gray-200;
  background-color: $color-gray-200;
  color: $color-gray-800;
}

a.badge-secondary:hover {
  border-color: $color-gray-300 !important;
  background-color: $color-gray-300 !important;
  color: $color-gray-800 !important;
}

// Success badge

span.badge-success,
a.badge-success {
  border-color: $color-success-100;
  background-color: $color-success-100;
  color: $color-success-800;
}

a.badge-success:hover {
  border-color: $color-success-200 !important;
  background-color: $color-success-200 !important;
  color: $color-success-800 !important;
}

// Warning badge

span.badge-warning,
a.badge-warning {
  border-color: $color-secondary-100;
  background-color: $color-secondary-100;
  color: $color-secondary-800;
}

a.badge-warning:hover {
  border-color: $color-secondary-100 !important;
  background-color: $color-secondary-100 !important;
  color: $color-secondary-800 !important;
}

// Danger badge

span.badge-danger,
a.badge-danger {
  border-color: $color-danger-100;
  background-color: $color-danger-100;
  color: $color-danger-800;

  &:hover {
    border-color: $color-danger-100 !important;
    background-color: $color-danger-100 !important;
    color: $color-danger-800 !important;
  }
}

// Info badge

span.badge-info,
a.badge-info {
  // border-color: $color-teal-50;
  // background-color: $color-teal-50;
  // color: $color-teal-600;
}

a.badge-info:hover {
  // border-color: $color-teal-100 !important;
  // background-color: $color-teal-100 !important;
  // color: $color-teal-600 !important;
}

// Light badge

span.badge-light,
a.badge-light {
  border-color: $color-gray-50;
  background-color: $color-gray-50;
  color: $color-gray-400;
}

a.badge-light:hover {
  border-color: $color-gray-100 !important;
  background-color: $color-gray-100 !important;
  color: $color-gray-400 !important;
}

// Dark badge

span.badge-dark,
a.badge-dark {
  border-color: $color-gray-600;
  background-color: $color-gray-600;
  color: $color-white;
}

a.badge-dark:hover {
  border-color: $color-gray-400 !important;
  background-color: $color-gray-400 !important;
  color: $color-white !important;
}
