.badge-primary {
    border-color: $color-primary;
    background-color: $color-primary;
}

.badge-secondary {
    border-color: $color-secondary;
    background-color: $color-secondary;
}

.badge-success {
    border-color: $color-success;
    background-color: $color-success;
}

.badge-warning {
    border-color: $color-warning;
    background-color: $color-warning;
}

.badge-danger {
    border-color: $color-danger;
    background-color: $color-danger;
}

.badge-light {
    border-color: $color-secondary-light-4;
    background-color: $color-secondary-light-4;
}