// Basic borders

.border-top {
    border-top: 1px solid $color-secondary-lightest !important;
}

.border-bottom {
    border-bottom: 1px solid $color-secondary-lightest !important;
}

.border-left {
    border-left: 1px solid $color-secondary-lightest !important;
}

.border-right {
    border-right: 1px solid $color-secondary-lightest !important;
}