// Link Buttons

.btn-link {
  color: $color-primary;
}

// Filled buttons

.btn-primary {
  border-color: $color-primary;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}

.btn-secondary {
  border-color: $color-secondary;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-dark;
    border-color: $color-secondary-dark;
  }
}

.btn-success {
  border-color: $color-success-light;
  background-color: $color-success-light;

  &:hover {
    background-color: $color-success-dark;
    border-color: $color-success-dark;
  }
}

.btn-warning {
  background-color: $color-warning;
  border-color: $color-warning;

  &:hover {
    background-color: $color-warning;
    border-color: $color-warning;
  }
}

// Outline Buttons

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-outline-secondary {
  color: $color-secondary;
  border-color: $color-secondary;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.btn-outline-success {
  color: $color-success;
  border-color: $color-success;

  &:hover {
    background-color: $color-success;
    border-color: $color-success;
  }
}

.btn-outline-warning {
  color: $color-warning;
  border-color: $color-warning;

  &:hover {
    background-color: $color-warning;
    border-color: $color-warning;
  }
}
