.navbar {
    border-bottom: 1px solid $color-secondary-lightest;

    .navbar-brand {
        font-weight: 700;
    }

    .navbar-toggler {
        border: 0;
    }

    a.user-avatar {
        $user-avatar-size: 38px;
        display: inline-block;
        width: $user-avatar-size;
        height: $user-avatar-size;
        border: 1px solid $color-secondary-lightest;
        border-radius: 50%;

        img {
            width: $user-avatar-size - 2;
            height: $user-avatar-size - 2;
            border-radius: 50%;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {

        .nav-link {
            color: #666;
        }
    }
}