
.pseudo_table {
    display: table;
    width: 100%;

    .pseudo_cell {
        display: table-cell;
        vertical-align: top;
    }

    .pseudo_cell_w2 {
        width: 2rem;
        max-width: 2rem;
    }

    .pseudo_cell_w10 {
        width: 10rem;
        max-width: 10rem;
    }
}
