.sidebar-right {
    order: 2;

    @supports (position: sticky) {
        position: sticky;
        top: 57px;
        height: calc(100vh - 57px);
        overflow-y: auto;
    }
}

.sidebar-left {
    order: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    @supports (position: sticky) {
        position: sticky;
        top: 57px;
        z-index: 1000;
        height: calc(100vh - 57px);
    }
}