// Width-height sizes

@for $i from 1 through 6 {
  .wh-#{$i} {
    width: $i + rem;
    height: $i + rem;
  }
}

// Width

@for $i from 1 through 6 {
  .w-#{$i} {
    width: $i + rem;
  }
}

// Relative sizes

.size-sm-8 {
  @media (min-width: $breakpoint_sm) {
    width: 4rem !important;
    height: 4rem !important;
  }
}

.width-md-100 {
  @media (min-width: $breakpoint_md) {
    width: 100% !important;
    height: auto !important;
  }
}
