
// Background colors

.bg-color-white {
    color: $color-white;
}

.bg-color-gray-50 {
    background-color: $color-gray-50;
}

.bg-color-gray-100 {
    background-color: $color-gray-100;
}

.bg-color-gray-200 {
    background-color: $color-gray-200;
}

.bg-color-gray-300 {
    background-color: $color-gray-300;
}
