//
// Primary colors
//

.color-primary-lightest {
  color: $color-primary-lightest;
}
.color-primary-light {
  color: $color-primary-light;
}
.color-primary {
  color: $color-primary !important;
}
.color-primary-dark {
  color: $color-primary-dark;
}
.color-primary-darkest {
  color: $color-primary-darkest;
}

//
// Secondary colors
//

.color-secondary-lightest {
  color: $color-secondary-lightest;
}
.color-secondary-light {
  color: $color-secondary-light;
}
.color-secondary {
  color: $color-secondary;
}
.color-secondary-dark {
  color: $color-secondary-dark;
}
.color-secondary-darkest {
  color: $color-secondary-darkest;
}

// Success colors

.color-success {
  color: $color-success;
}

//
// Warning colors
//

.color-warning {
  color: $color-warning;
}

//
// Text colors
//

.color-text-white {
  color: $color-white;
}
.color-text-lighter {
  color: $color-gray-600;
}
.color-text-light {
  color: $color-gray-700;
}
.color-text-normal {
  color: $color-gray-900;
}
