//
// Primary colors
//

.color-primary-lightest {
  color: $color-primary-lightest;
}
.color-primary-light {
  color: $color-primary-light;
}
.color-primary {
  color: $color-primary !important;
}
.color-primary-dark {
  color: $color-primary-dark;
}
.color-primary-darkest {
  color: $color-primary-darkest;
}

//
// Secondary colors
//

.color-secondary-lightest {
  color: $color-secondary-200;
}
.color-secondary-light {
  color: $color-secondary-400;
}
.color-secondary {
  color: $color-secondary-500;
}
.color-secondary-dark {
  color: $color-secondary-700;
}
.color-secondary-darkest {
  color: $color-secondary-900;
}

//
// Success colors
//

.color-success-light {
  color: $color-success-300;
}
.color-success-500,
.color-success {
  color: $color-success-500;
}
.color-success-700 {
  color: $color-success-700;
}
.color-success-dark {
  color: $color-success-700;
}

//
// Warning colors
//

.color-warning-light {
  color: $color-secondary-300;
}
.color-warning {
  color: $color-secondary-500;
}
.color-warning-dark {
  color: $color-secondary-700;
}

//
// Text colors
//

.color-text-white {
  color: $color-white;
}
.color-text-lighter {
  color: $color-gray-600;
}
.color-text-light {
  color: $color-gray-700;
}
.color-text-normal {
  color: $color-gray-900;
}
