@import url("https://fonts.googleapis.com/css?family=Roboto:700");
.alert {
  padding: 1rem;
  border-radius: 2px; }
  .alert .alert-heading {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem; }

.alert-secondary {
  color: #333;
  background-color: #F5F5F5;
  border-color: #EEEEEE; }

.alert-bordered {
  color: #333;
  background-color: transparent;
  border-color: #EEEEEE; }

.alert-dashed {
  color: #333;
  border: 1px dashed #BDBDBD;
  background-color: transparent; }

/* bg light green 100  */
.alert-success {
  color: #33691E;
  background-color: #DCEDC8;
  border-color: #DCEDC8; }

.avatar-group {
  display: inline-block;
  margin-left: 0.25rem; }
  .avatar-group a.avatar-item {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: -0.25rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 2px #fff; }
    .avatar-group a.avatar-item img {
      border-radius: 50%;
      width: 2rem;
      height: 2rem; }

.badge {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #DAECF8;
  background-color: #DAECF8;
  color: #22618C;
  padding: .5em .75em;
  white-space: nowrap;
  vertical-align: middle; }
  .badge .badge-icon {
    width: 1rem;
    height: 1rem;
    margin-top: -3px;
    margin-right: .25rem; }

a.badge:hover {
  text-decoration: none !important; }

.badge-sm {
  font-size: .875rem;
  padding: .25rem .5rem; }
  .badge-sm .badge-icon {
    width: .75rem;
    height: .75rem;
    margin-left: 0;
    margin-top: -2px;
    margin-right: .125rem; }

a.badge-primary,
a.badge-secondary,
a.badge-success,
a.badge-warning,
a.badge-danger,
a.badge-info,
a.badge-light,
a.badge-dark {
  cursor: pointer; }

span.badge-primary a.badge-primary {
  border-color: #DAECF8;
  background-color: #DAECF8;
  color: #22618C; }

a.badge-primary:hover {
  border-color: #C7E2F5 !important;
  background-color: #C7E2F5 !important;
  color: #184664 !important; }

span.badge-secondary, a.badge-secondary {
  border-color: #EEEEEE;
  background-color: #EEEEEE;
  color: #424242; }

a.badge-secondary:hover {
  border-color: #E0E0E0 !important;
  background-color: #E0E0E0 !important;
  color: #424242 !important; }

span.badge-success, a.badge-success {
  border-color: #C7F5D9;
  background-color: #C7F5D9;
  color: #186437; }

a.badge-success:hover {
  border-color: #A2EEC1 !important;
  background-color: #A2EEC1 !important;
  color: #186437 !important; }

span.badge-warning, a.badge-warning {
  border-color: #F5EEC7;
  background-color: #F5EEC7;
  color: #645918; }

a.badge-warning:hover {
  border-color: #F5EEC7 !important;
  background-color: #F5EEC7 !important;
  color: #645918 !important; }

span.badge-danger, a.badge-danger {
  border-color: #F5CCC7;
  background-color: #F5CCC7;
  color: #642018; }

a.badge-danger:hover {
  border-color: #F5CCC7 !important;
  background-color: #F5CCC7 !important;
  color: #642018 !important; }

span.badge-light, a.badge-light {
  border-color: #FAFAFA;
  background-color: #FAFAFA;
  color: #BDBDBD; }

a.badge-light:hover {
  border-color: #F5F5F5 !important;
  background-color: #F5F5F5 !important;
  color: #BDBDBD !important; }

span.badge-dark, a.badge-dark {
  border-color: #757575;
  background-color: #757575;
  color: #FFFFFF; }

a.badge-dark:hover {
  border-color: #BDBDBD !important;
  background-color: #BDBDBD !important;
  color: #FFFFFF !important; }

.border-top {
  border-top: 1px solid #E0E0E0 !important; }

.border-top-dark {
  border-top: 1px solid #BDBDBD !important; }

.border-bottom {
  border-bottom: 1px solid #E0E0E0 !important; }

.border-bottom-dark {
  border-bottom: 1px solid #BDBDBD !important; }

.border-left {
  border-left: 1px solid #E0E0E0 !important; }

.border-right {
  border-right: 1px solid #E0E0E0 !important; }

.border-x {
  border-left: 1px solid #E0E0E0 !important;
  border-right: 1px solid #E0E0E0 !important; }

.border-double {
  border-width: 2px !important; }

.border-radius {
  border-radius: 4px; }

.rounded {
  border-radius: 3px !important; }

.rounded-small {
  border-radius: 2px !important; }

.rounded-large {
  border-radius: 4px !important; }

.btn {
  cursor: pointer; }
  .btn .btn-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .25rem; }

.btn-sm .btn-icon {
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: .125rem; }

.btn-primary {
  background-color: #3498db;
  border-color: #3498db; }
  .btn-primary:hover {
    background-color: #2B7DB4;
    border-color: #2B7DB4; }

.btn-secondary {
  color: #424242;
  background-color: #F5F5F5;
  border-color: #BDBDBD; }
  .btn-secondary:hover {
    color: #424242;
    background-color: #E0E0E0;
    border-color: #BDBDBD; }

.btn-success {
  color: #228C4C;
  background-color: #ECFBF2;
  border-color: #2BB462; }
  .btn-success:hover {
    color: #228C4C;
    background-color: #C7F5D9;
    border-color: #2BB462; }

.btn-warning {
  color: #8C7C22;
  background-color: #F5EEC7;
  border-color: #E8D87D; }
  .btn-warning:hover {
    color: #8C7C22;
    background-color: #EEE3A2;
    border-color: #E8D87D; }

.btn-outline-primary {
  color: #3498db;
  border-color: #3498db;
  background-color: transparent; }
  .btn-outline-primary:hover {
    color: #3498db;
    border-color: #22618C;
    background-color: transparent; }

.btn-outline-secondary {
  color: #616161;
  border-color: #BDBDBD; }
  .btn-outline-secondary:hover {
    color: #616161;
    border-color: #616161;
    background-color: transparent; }

.btn-outline-success {
  color: #228C4C;
  border-color: #2BB462; }
  .btn-outline-success:hover {
    color: #228C4C;
    border-color: #2BB462;
    background-color: #C7F5D9; }

.btn-outline-warning {
  color: #dbc234;
  border-color: #F5EEC7; }

.btn-outline-warning:hover {
  color: #dbc234;
  border-color: #dbc234;
  background-color: transparent; }

.box {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #FFFFFF; }
  .box .box-header {
    padding: .75rem 1rem;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5; }
  .box .box-body {
    padding: .75rem 1rem;
    border-bottom: 1px solid #E0E0E0; }
  .box .box-footer {
    padding: 1rem;
    margin-top: -1px;
    border-top: 1px solid #E0E0E0;
    background-color: #F5F5F5; }

.card {
  border: 1px solid #E0E0E0;
  border-radius: 4px; }

.bg-color-white {
  color: #FFFFFF; }

.bg-color-gray-50 {
  background-color: #FAFAFA; }

.bg-color-gray-100 {
  background-color: #F5F5F5; }

.bg-color-gray-200 {
  background-color: #EEEEEE; }

.bg-color-gray-300 {
  background-color: #E0E0E0; }

.color-white {
  color: #FFFFFF; }

.color-gray-100 {
  color: #F5F5F5; }

.color-gray-200 {
  color: #EEEEEE; }

.color-gray-300 {
  color: #E0E0E0; }

.color-gray-400 {
  color: #BDBDBD; }

.color-gray-500 {
  color: #9E9E9E; }

.color-gray-600 {
  color: #757575; }

.color-gray-700 {
  color: #616161; }

.color-gray-800 {
  color: #424242; }

.color-gray-900 {
  color: #212121; }

.color-primary-lightest {
  color: #C7E2F5; }

.color-primary-light {
  color: #7DBDE8; }

.color-primary {
  color: #3498db !important; }

.color-primary-dark {
  color: #22618C; }

.color-primary-darkest {
  color: #0F2A3C; }

.bg-color-primary-lightest {
  background-color: #C7E2F5; }

.bg-color-primary-light {
  background-color: #7DBDE8; }

.bg-color-primary {
  background-color: #3498db; }

.bg-color-primary-dark {
  background-color: #22618C; }

.bg-color-primary-darkest {
  background-color: #0F2A3C; }

.color-secondary-lightest {
  color: #EEE3A2; }

.color-secondary-light {
  color: #E1CD58; }

.color-secondary {
  color: #dbc234; }

.color-secondary-dark {
  color: #8C7C22; }

.color-secondary-darkest {
  color: #3C350F; }

.bg-color-secondary-lightest {
  background-color: #EEE3A2; }

.bg-color-secondary-light {
  background-color: #E1CD58; }

.bg-color-secondary {
  background-color: #dbc234; }

.bg-color-secondary-dark {
  background-color: #8C7C22; }

.bg-color-secondary-darkest {
  background-color: #3C350F; }

.color-success-light {
  color: #7DE8A8; }

.color-success {
  color: #34db77; }

.color-success-dark {
  color: #228C4C; }

.bg-color-success-light {
  background-color: #7DE8A8; }

.bg-color-success {
  background-color: #34db77; }

.bg-color-success-dark {
  background-color: #228C4C; }

.color-warning-light {
  color: #E8D87D; }

.color-warning {
  color: #dbc234; }

.color-warning-dark {
  color: #8C7C22; }

.bg-color-warning-light {
  background-color: #E8D87D; }

.bg-color-warning {
  background-color: #dbc234; }

.bg-color-warning-dark {
  background-color: #8C7C22; }

.color-stroke-light {
  color: #E0E0E0; }

.color-stroke {
  color: #BDBDBD; }

.color-text-white {
  color: #FFFFFF; }

.color-text-lighter {
  color: #757575; }

.color-text-light {
  color: #616161; }

.color-text-normal {
  color: #212121; }

.dropdown_item_icon {
  width: 20px;
  height: 20px;
  margin-right: .75rem;
  margin-top: -2px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-grow-2 {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.flex-grow-3 {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

.flex-grow-4 {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4; }

.flex-grow-5 {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5; }

.flex-grow-6 {
  -webkit-box-flex: 6;
  -ms-flex-positive: 6;
  flex-grow: 6; }

.flex-grow-7 {
  -webkit-box-flex: 7;
  -ms-flex-positive: 7;
  flex-grow: 7; }

.flex-grow-8 {
  -webkit-box-flex: 8;
  -ms-flex-positive: 8;
  flex-grow: 8; }

.align-self-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

form input.bg-icon-magnifier-lg {
  background: url("https://png.icons8.com/material/28/546e7a/search.png") no-repeat 10px 10px;
  padding-left: 48px; }

form input.bg-icon-magnifier-sm {
  background: url("https://png.icons8.com/material/20/545e7a/search.png") no-repeat 8px 5px;
  padding-left: 36px; }

h1, .h1 {
  font-size: 1.5rem; }
  @media (min-width: 576px) {
    h1, .h1 {
      font-size: 1.75rem; } }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 2.25rem; } }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.4rem; }

h4, .h4 {
  font-size: 1.3rem; }

h5, .h5 {
  font-size: 1.2rem; }

h6, .h6 {
  font-size: 1.1rem; }

.display-1, .display-2, .display-3, .display-4 {
  font-weight: 600;
  line-height: 1.2; }

.display-1 {
  font-size: 3.5rem; }

.display-2 {
  font-size: 3rem; }

.display-3 {
  font-size: 1.5rem; }
  @media (min-width: 576px) {
    .display-3 {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .display-3 {
      font-size: 2.5rem; } }

.display-4 {
  font-size: 2rem; }

.display-subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  color: #757575; }

.rounded-circle-8 {
  width: 64px;
  height: 64px;
  border-radius: 50%; }

img.cover_w100_h8rem {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
  object-fit: cover; }
  img.cover_w100_h8rem:hover {
    opacity: .85; }

.img-cover {
  -o-object-fit: cover;
  object-fit: cover; }

img.cover-h8 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
  object-fit: cover; }

img.cover-height-8 {
  display: block;
  width: 100%;
  height: 4rem;
  -o-object-fit: cover;
  object-fit: cover; }

img.cover-height-12 {
  display: block;
  width: 100%;
  height: 6rem;
  -o-object-fit: cover;
  object-fit: cover; }

img.cover-height-16 {
  display: block;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
  object-fit: cover; }

img.opacity-80 {
  opacity: .80; }

img.opacity-85 {
  opacity: .85; }

img.opacity-90 {
  opacity: .90; }

img.hover-opacity-85:hover {
  opacity: .85; }

img.hover-opacity-100:hover {
  opacity: 1; }

img.hover-opacity-9:hover {
  opacity: .9; }

img.box_2 {
  width: 2rem;
  height: 2rem; }

img.border-2 {
  border: 2px solid #E0E0E0; }

.jumbotron {
  padding-left: 0;
  padding-right: 0; }

.list-group .list-group-item {
  padding: .75rem 1rem;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0; }
  .list-group .list-group-item:hover {
    background-color: #F5F5F5; }
  .list-group .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .list-group .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

.list-group .list-group-item.active {
  color: #424242;
  font-weight: 600;
  border-color: #E0E0E0;
  background-color: #F5F5F5; }

.list-group .list-group-item.disabled {
  color: #BDBDBD; }

.modal-content {
  border-radius: 4px; }
  .modal-content .modal-header {
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5; }
  .modal-content .modal-footer {
    border-top: 1px solid #E0E0E0;
    background-color: #F5F5F5; }

.nav-tabs {
  border-bottom: 1px solid #E0E0E0; }
  .nav-tabs .nav-link.active {
    border-top-color: #E0E0E0;
    border-right-color: #E0E0E0;
    border-bottom-color: #FFFFFF;
    border-left-color: #E0E0E0;
    font-weight: 600; }

.navbar {
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #E0E0E0; }
  .navbar .container a.navbar-brand {
    color: #3498db;
    font-weight: 600; }
  .navbar .container .nav-link {
    color: #9E9E9E; }
  .navbar .container a.user-avatar {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #E0E0E0;
    border-radius: 3px; }
    .navbar .container a.user-avatar img {
      width: 36px;
      height: 36px;
      border-radius: 3px; }
      .navbar .container a.user-avatar img:hover {
        opacity: .8; }

.pseudo_table {
  display: table;
  width: 100%; }
  .pseudo_table .pseudo_cell {
    display: table-cell;
    vertical-align: top; }
  .pseudo_table .pseudo_cell_w2 {
    width: 2rem;
    max-width: 2rem; }
  .pseudo_table .pseudo_cell_w10 {
    width: 10rem;
    max-width: 10rem; }

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 1.5rem !important;
  line-height: 1.2 !important; }

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 1.4rem !important;
  line-height: 1.2 !important; }

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 1.3rem !important;
  line-height: 1.2 !important; }

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important; }

.CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 1.1rem !important;
  line-height: 1.2 !important; }

.CodeMirror .CodeMirror-code .cm-header-6 {
  font-size: 1.1rem !important;
  line-height: 1.2 !important; }

.cm-header, .cm-strong {
  font-weight: 500 !important; }

.min-height-4 {
  min-height: 2rem; }

.min-height-8 {
  min-height: 4rem; }

.size-14px {
  width: 14px;
  height: 14px; }

.size-16px {
  width: 16px;
  height: 16px; }

.size-18px {
  width: 18px;
  height: 18px; }

.size-20px {
  width: 20px;
  height: 20px; }

.size-22px {
  width: 22px;
  height: 22px; }

@media (min-width: 576px) {
  .size-sm-8 {
    width: 4rem !important;
    height: 4rem !important; } }

.wh-32 {
  width: 32px;
  height: 32px; }

.wh-48 {
  width: 48px;
  height: 48px; }

.wh-64 {
  width: 64px;
  height: 64px; }

.wh-96 {
  width: 96px;
  height: 96px; }

.wh_3 {
  width: 1.5rem;
  height: 1.5rem; }

.wh_4 {
  width: 2rem;
  height: 2rem; }

.wh-3 {
  width: 3rem;
  height: 3rem; }

.wh-4 {
  width: 4rem;
  height: 4rem; }

.wh-lg {
  width: 3rem;
  height: 3rem; }

.wh-160 {
  width: 160px;
  height: 160px; }

.width-2 {
  width: 1rem; }

.width-3 {
  width: 1.5rem; }

.width-4 {
  width: 2rem; }

.width-5 {
  width: 2.5rem; }

.width-6 {
  width: 3rem; }

.width-8 {
  width: 4rem; }

.width-9 {
  width: 4.5rem; }

.width-10 {
  width: 5rem; }

.width-11 {
  width: 5.5rem; }

.width-12 {
  width: 6rem; }

.height-4 {
  height: 2rem; }

.height-8 {
  height: 4rem; }

.height-12 {
  height: 6rem; }

.height-16 {
  height: 8rem; }

.size-2 {
  width: 1rem;
  height: 1rem; }

.size-3 {
  width: 1.5rem;
  height: 1.5rem; }

.size-4 {
  width: 2rem;
  height: 2rem; }

.size-5 {
  width: 2.5rem;
  height: 2.5rem; }

.size-6, .size-6-steps {
  width: 3rem;
  height: 3rem; }

.size-8 {
  width: 4rem;
  height: 4rem; }

.size-12, .size-12-steps {
  width: 6rem;
  height: 6rem; }

@media (min-width: 768px) {
  .width-md-100 {
    width: 100% !important;
    height: auto !important; } }

@media (min-width: 576px) {
  .size-sm-12-steps {
    width: 6rem !important;
    height: 6rem !important; } }

@media (min-width: 768px) {
  .size-md-12-steps {
    width: 6rem !important;
    height: 6rem !important; } }

.min-width-12-steps {
  min-width: 6rem; }

.min-width-14-steps {
  min-width: 7rem; }

.min-width-16-steps {
  min-width: 8rem; }

.max-width-20 {
  max-width: 10rem; }

.max-width-30 {
  max-width: 15rem; }

.size-rectangle-30x15 {
  width: 15rem;
  height: 15rem / 2; }

.max-width-sm {
  max-width: 575px; }

.max-width-md {
  max-width: 767px; }

.max-width-lg {
  max-width: 991px; }

.max-width-xl {
  max-width: 1199px; }

.w-32 {
  width: 32% !important;
  margin: 0; }

.mb-6, .my-6 {
  margin-bottom: 3rem !important; }

.mt-6, .my-6 {
  margin-top: 3rem !important; }

.mb-7, .my-7 {
  margin-bottom: 3.5rem !important; }

.mt-7, .my-7 {
  margin-top: 3.5rem !important; }

.mb-8, .my-8 {
  margin-bottom: 4rem !important; }

.mt-8, .my-8 {
  margin-top: 4rem !important; }

.mt-minus-2px {
  margin-top: -2px; }

.mt-minus-4px {
  margin-top: -4px; }

.mt-minus-quarter {
  margin-top: -.25rem; }

.mt-minus-half {
  margin-top: -.5rem; }

.ml-minus-half {
  margin-left: -.25rem; }

.ml-6 {
  margin-left: 3rem; }

.ml-7 {
  margin-left: 3.5rem; }

.ml-8 {
  margin-left: 4rem; }

.mr-8 {
  margin-right: 4rem; }

.mr-14 {
  margin-right: 7rem; }

.status {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background-color: #EEEEEE;
  border-radius: 50%; }

.status-sm {
  width: .25rem;
  height: .25rem; }

.status-lg {
  width: 1rem;
  height: 1rem; }

.status-primary {
  background-color: #3498db; }

.status-positive {
  background-color: #34db77; }

.status-intermediate {
  background-color: #dbc234; }

.status-negative {
  background-color: #db4534; }

table {
  margin-bottom: 1rem; }

/* for tables without classes (generated by SimpleMDE) */
table:not([class]) th, table:not([class]) td {
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: .5rem 1rem; }

table.no-border {
  border: none;
  margin: 0; }

.table-no-paddings {
  padding: 0; }

.table-no-paddings tr {
  padding: 0; }

.table-no-paddings td {
  padding: 0; }

.table-box {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #FFFFFF; }
  .table-box thead {
    padding: .75rem 1rem;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5; }
    .table-box thead tr th {
      border-bottom: none;
      color: #424242; }
  .table-box tbody tr td {
    vertical-align: middle; }

.title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #616161; }
  .title a {
    color: #616161; }
    .title a:hover {
      text-decoration: none;
      color: #3498db; }

.h-section {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.1;
  color: #757575;
  margin-bottom: 1rem; }

.h-section-xl {
  font-size: 1.5rem; }

.h-section-sm {
  font-size: 1.3rem; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-300 {
  font-weight: 300; }

blockquote {
  background-color: #F5F5F5;
  white-space: pre-wrap;
  word-wrap: break-word; }
  blockquote p:last-child {
    margin-bottom: 0; }

.blockquote {
  background-color: #FFFFFF;
  border-left: 4px solid #BDBDBD;
  padding-left: 1rem;
  color: #616161;
  margin-bottom: 0 !important; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-600 {
  font-weight: 600; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-800 {
  font-weight: 800; }

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  color: #424242; }

a {
  color: #3498db; }
  a:hover {
    color: #2B7DB4; }

.text-decoration-underline, a.link-underlined {
  text-decoration: underline !important; }

a.no-underline, a.no_underline {
  text-decoration: none; }
  a.no-underline:hover, a.no_underline:hover {
    text-decoration: none; }

a.link-broken {
  color: #db3466; }
  a.link-broken:after {
    content: url("https://png.icons8.com/small/16/db3466/unavailable-cloud.png");
    margin: 0 0 0 5px;
    vertical-align: middle; }

a.link-external:after {
  content: url("https://png.icons8.com/small/16/3498db/external-link.png");
  margin: 0 0 0 5px;
  vertical-align: middle; }

a.no-underline-hover:hover {
  text-decoration: none; }

small, .small {
  font-size: .875rem; }

.small-xs {
  font-size: .75rem; }

p {
  line-height: 1.75; }

del, ins {
  padding-left: .25rem;
  padding-right: .25rem; }

del {
  background-color: #ffdce0;
  text-decoration: none; }

ins {
  background-color: #cdffd8;
  text-decoration: none; }

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem; }

pre {
  padding: 1rem;
  background-color: #EEEEEE;
  border-radius: 3px;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.text-nowrap {
  white-space: nowrap; }

.font-size-16 {
  font-size: 16px; }

.font-size-18px {
  font-size: 18px; }

.text-secondary {
  color: #757575 !important; }
