.btn-light-info {
    color: $color-info-dark-1;
    background-color: $color-white;
    border-color: $color-white;

    &:hover {
        color: $color-info-dark-2;
        background-color: $color-info-light-4;
        border-color: $color-info-light-4;
    }
}