// Outline Buttons

.btn-outline-primary {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-outline-secondary {
    color: $color-secondary-dark-1;
    border-color: $color-secondary-light-2;

    &:hover {
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
}

.btn-outline-success {
    color: $color-success;
    border-color: $color-success;

    &:hover {
        background-color: $color-success;
        border-color: $color-success;
    }
}

.btn-outline-warning {
    color: $color-warning;
    border-color: $color-warning;

    &:hover {
        background-color: $color-warning;
        border-color: $color-warning;
    }
}

.btn-outline-info {
    color: $color-info;
    border-color: $color-info;

    &:hover {
        background-color: $color-info;
        border-color: $color-info;
    }
}

.btn-outline-light {
    color: $color-secondary;
    background-color: $color-white;
    border-color: $color-white;

    &:hover {
        color: $color-secondary-dark-2;
        background-color: $color-secondary-light-4;
        border-color: $color-secondary-light-4;
    }
}