//
// Form Variables
//

$form-control-padding-y: 0.25rem;
$form-control-padding-x: 0.625rem;
$form-control-font-size: 0.875rem;
$form-control-line-height: 1.5;
$form-control-border-width: 1px;

//
// Form Styles
//

.form-control {
  height: calc($form-control-line-height + 2 * $form-control-padding-y + 2 * $form-control-border-width);
  padding: $form-control-padding-y $form-control-padding-x;
  font-size: $form-control-font-size;
  line-height: $form-control-line-height;
}
