ul.list-links {
  padding-left: 0;
  list-style: none;

  li {
    padding: 0.25rem 0;
    font-size: 14px;
    color: $color-secondary;

    a {
      color: $color-secondary;
      text-decoration: none;

      &:hover {
        color: darken($color-secondary, 10%);
      }

      &.active {
        font-weight: 600;
        color: $color-secondary;
      }
    }
  }
}
