@import "variables";

@import "components/_mdc-drawer";
@import "components/_mdc-list-item";
@import "components/_mdc-top-app-bar";


body {
    display: flex;
    height: 100vh;
}

.main-content {
    overflow: auto;
    height: 100%;
}

h1 {
    margin-top: 0;
}

pre {
    padding: 1rem;
    background-color: $color-gray-200;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }