//

.border {
  border: 1px solid $color-border !important;
}

.border-bottom {
  border-bottom: 1px solid $color-border !important;
}

.border-top {
  border-top: 1px solid $color-border !important;
}

// Colors

.border-primary {
  border-color: $color-primary !important;
}

.bodred-width-2px {
  border-width: 2px;
}
