// Button Size

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

// Filled Buttons

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 15%);
    border-color: darken($color-primary, 15%);
  }
}

.btn-secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;
}

// Outline Buttons

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;
}

.btn-outline-secondary {
  color: $color-secondary;
  border-color: $color-secondary;
}

.btn-outline-gray {
  color: $color-gray-7;
  border-color: $color-gray-1;

  &:hover {
    background-color: $color-gray-1;
  }
}
