.nav-pills {
  .nav-item {
    margin-right: 0.75rem;
  }

  .nav-link {
    color: $color-secondary;
    border: 1px solid $color-secondary;
    line-height: 1;
    padding-top: 0.8rem;
    padding-bottom: 0.75rem;
  }

  .nav-link.active {
    border: 1px solid $color-primary;
  }
}
