// Navbar Style

.navbar {
  .navbar-brand {
    font-weight: 700;
    color: $color-primary;

    &:hover {
      color: lighten($color-primary, 5%);
    }
  }
}

.navbar-light {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-1;

  .navbar-toggler {
    border: 0;
    .navbar-toggler-icon {
      color: darken($color-primary, 15%);
    }
  }

  .navbar-nav {
    .nav-link {
      color: $color-secondary;
    }
  }
}
