a {
  color: $color-secondary;

  &:hover {
    color: darken($color-secondary, 10%);
  }
}

a.link-external:after {
  font-family: "Material Icons";
  content: "open_in_new";
  color: $color-secondary;
  padding-left: 2px;
}

a.link-dashed {
  border-bottom: 1px dashed;
}
