.font-ubuntu {
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: $color-secondary;

  &:hover {
    color: $color-secondary;
  }
}

a.link-external:after {
  font-family: "Material Icons";
  content: "open_in_new";
  color: $color-secondary;
  padding-left: 2px;
}

a.link-dashed {
  border-bottom: 1px dashed;
}
