//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: 1.5rem;

  @include sm-and-down {
    font-size: 1.4rem;
  }
}

h2,
.h2 {
  font-size: 1.6rem;

  @include sm-and-down {
    font-size: 1.6rem;
  }
}

h3,
.h3 {
  font-size: 1.4rem;

  @include sm-and-down {
    font-size: 1.4rem;
  }
}

h4,
.h4 {
  font-size: 1.2rem;

  @include sm-and-down {
    font-size: 1.2rem;
  }
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 1rem;
  color: $color-secondary;
}

del,
ins {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

del {
  background-color: #ffdce0;
  text-decoration: none;
}

ins {
  background-color: #cdffd8;
  text-decoration: none;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}

pre {
  padding: 1rem;
  background-color: $color-gray-1;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

blockquote,
.blockquote {
  background-color: $color-white;
  border-left: 4px solid $color-secondary;
  padding-left: 1rem;
  color: $color-secondary;
  margin-bottom: 0 !important;
  white-space: pre-wrap;
  word-wrap: break-word;

  p:last-child {
    margin-bottom: 0;
  }
}

.small {
  font-size: 0.8rem !important;
}

.semi-small {
  font-size: $font-size-semi-small !important;
}

.font-size-125 {
  font-size: 1.25rem !important;
}

.font-size-140 {
  font-size: 1.4rem !important;
}

.font-size-15 {
  font-size: 1.5rem !important;
}

.line-height-10 {
  line-height: 1;
}

.line-height-11 {
  line-height: 1.1;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-13 {
  line-height: 1.3;
}

// Type Scale based on https://material.io/design/typography/the-type-system.html#type-scale
.text-primary {
  color: $color-primary !important;
}
