@import "variables";

@import "_components/_buttons";
@import "_components/_image";
@import "_components/_list-links";
@import "_components/_nav-pills";
@import "_components/_nav-tabs";
@import "_components/_navbar";
@import "_components/_simplemde";
@import "_components/_size";
@import "_components/_table";

@import "_utilities/_borders";

@import "_typography/_links";
@import "_typography/_other";

body {
  background-color: $color-gray-xs;
}

.box {
  background-color: $color-white;
  border: 1px solid $color-gray-sm;
}

.margin-left-minus-8px {
  margin-left: -8px;
}

.margin-left-minus-12px {
  margin-left: -12px;
}

.text-secondary {
  color: $color-secondary !important;
}

.form-control {
  border-color: $color-gray-sm;
}

.main-page-jumbotron {
  background-color: $color-white;
  background: url(https://answeropedia.org/assets/img/bg-jumbotron.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Input on main page

.form-control-outline-secondary {
  border-color: $color-secondary;
}

// Light-blue borders

.border {
  border: 1px solid $color-border !important;
}

.border-bottom {
  border-bottom: 1px solid $color-border;
}

.jumbotron-title {
  font-weight: 600;
  font-size: 2.25rem;

  @include sm-and-down {
    font-size: 1.25rem;
  }
}

// Background Colors

.bg-secondary-lightest {
  background-color: lighten($color-secondary, 50%);
}

.alert-heading {
  text-transform: uppercase;
  font-size: $font-size-semi-small;
}
