@import "variables";

@import "_badges";
@import "_borders";
@import "_buttons";
@import "_images";
@import "_nav";
@import "_navbar";
@import "_page_question";
@import "_sizing";
@import "_tables";
@import "_text";
@import "_type";

body {
  background-color: $color-body-background;
}

.box {
  background-color: $color-white;
  border: 1px solid $color-gray-1;
}

.margin-left-minus-8px {
  margin-left: -8px;
}

.margin-left-minus-12px {
  margin-left: -12px;
}

.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.form-control {
  border-color: $color-gray-1;
}

.rounded {
  border-radius: 3px !important;
}

// Input on main page

.form-control-outline-secondary {
  border-color: $color-secondary;
}

.jumbotron-title {
  font-weight: 600;
  font-size: 2.25rem;

  @include sm-and-down {
    font-size: 1.25rem;
  }
}

// Background Colors

.bg-color-body-background {
  background-color: $color-body-background;
}

.bg-color-gray-1 {
  background-color: $color-gray-1;
}

.bg-color-gray-2 {
  background-color: $color-gray-2;
}

.bg-color-gray-3 {
  background-color: $color-gray-3;
}

.alert-heading {
  text-transform: uppercase;
  font-size: $font-size-semi-small;
}
