
.block__check_list {
    border: 1px solid $color-gray-300;
    border-radius: 2px;
    width: 100%;
    display: table;

    .header {
        padding: .75rem 1rem;
        border-bottom: 1px solid $color-gray-300;
        border-radius: 0;
        font-weight: 500;
    }

    .content {
        padding: .5rem 1rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: table;

            li {
                padding-left: 30px;
                margin: .75rem 0;
            }

            li.completed {
                padding-left: 0;
                color: $color-gray-500;
                text-decoration: line-through;

                .icon {
                    display: table-cell;
                    width: 18px;

                    img {
                        width: 18px;
                        height: 18px;
                    }
                }

                .message {
                    display: table-cell;
                    padding-left: 12px;
                }
            }
        }
    }
}
