
.block__first_answer {
    border: 1px solid #E3F2FD;
    background-color: #E3F2FD;
    border-radius: 4px;
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    width: 100%;
    display: table;

    .icon {
        display: table-cell;
        vertical-align: top;
        width: 4rem;

        img {
            display: block;
            width: 4rem;
            height: 4rem;
        }
    }

    .info {
        padding-left: 1.75rem;
        display: table-cell;
        vertical-align: middle;

        p.title {
            font-weight: 700;
            line-height: 1.4;
            color: $color-gray-900;
            margin-top: 2px;
            margin-bottom: 1rem;
        }

        p.message {
            line-height: 1.4;
            color: $color-gray-900;
            margin-bottom: 1.25rem;
        }
    }
}
