
.block__improve_answer {
    border: 1px solid $color-gray-300;
    padding: 1rem;
    border-radius: 2px;
    float: clearfix;
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: 300;

    .improve_message {
        display: inline-block;
        vertical-align: middle;
        margin: auto 0;
        float: clearfix;
    }

    .btn_improve {
        
        float: clearfix;
    }
}
