
.block_info {
    border: 1px solid $color-gray-300;
    background-color: $color-white;
    border-radius: 2px;


    .block_header {
        padding: 1rem 1rem;
        border-bottom: 1px solid $color-gray-300;

        .block_title {
            font-size: .9rem;
            font-weight: 700;
            line-height: 1.1;
            color: $color-gray-800;
            text-transform: uppercase;
        }
    }

    .block_body {
        padding: 1rem 1rem;
    }

    .block_footer {
        padding: 1rem 1rem;
        border-top: 1px solid $color-gray-300;

        .note {
            font-size: .9rem;
            color: $color-gray-600;
        }
    }
}
