$nav-tabs-bottom-line-height: 3px;

.nav-tabs {
  border-bottom: none;

  .nav-item {
    margin-bottom: -1px;
    margin-right: 1.25rem;

    .nav-link {
      padding: 0.25rem 0 0.125rem 0;
      color: $color-secondary;
      border: none;
      border-bottom: $nav-tabs-bottom-line-height solid transparent;

      &:hover {
        border-bottom: $nav-tabs-bottom-line-height solid $color-gray-2;
      }
    }
  }

  .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-bottom: $nav-tabs-bottom-line-height solid $color-primary;

    &:hover {
      border-bottom: $nav-tabs-bottom-line-height solid $color-primary;
    }
  }
}
