
.box-filled {
    background-color: $color-gray-100;
    border: none;
    border-radius: $border-radius;
    padding: .75rem 1rem;

    .box-header {
        padding-bottom: .75rem;
        border-bottom: 1px solid $color-gray-300;
    }

    .box-body {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .box-footer {
        padding-top: .5rem;
        border-top: 1px solid $color-gray-300;
    }
}
