.btn-outline-primary {
  color: $color-primary-500;
  border-color: $color-primary-500;

  &:hover {
    color: $color-primary-500;
    border-color: $color-primary-700;
  }
}

.btn-outline-secondary {
  color: $color-gray-700;
  border-color: $color-gray-400;

  &:hover {
    color: $color-gray-700;
    border-color: $color-gray-700;
  }
}

.btn-outline-success {
  color: $color-success-700;
  border-color: $color-success-700;

  &:hover {
    border-color: $color-success-700;
    background-color: $color-success-700;
  }
}

.btn-outline-warning {
  color: $color-secondary-500;
  border-color: $color-secondary-100;

  &:hover {
    color: $color-secondary-500;
    border-color: $color-secondary-500;
    background-color: transparent;
  }
}
